<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsjc.central.mapper.EmailResetPwdMapper">
  <resultMap id="BaseResultMap" type="com.hsjc.central.domain.EmailResetPwd">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="UserID" jdbcType="BIGINT" property="userid" />
    <result column="CreateTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="UseTime" jdbcType="TIMESTAMP" property="usetime" />
    <result column="Code" jdbcType="VARCHAR" property="code" />
    <result column="State" jdbcType="CHAR" property="state" />
    <result column="ValidSeconds" jdbcType="INTEGER" property="validseconds" />
  </resultMap>

  <sql id="Base_Column_List">
    ID, UserID, CreateTime, UseTime, Code, State, ValidSeconds
  </sql>

  <!--
    @author : zga
    @date : 2015-12-04
    新增
  -->
  <insert id="insert" parameterType="com.hsjc.central.domain.EmailResetPwd">
    insert into tbemailresetpwd (ID, UserID, CreateTime,
      UseTime, Code, State, 
      ValidSeconds)
    values (#{id}, #{userid}, #{createtime}, 
      #{usetime}, #{code}, #{state}, 
      #{validseconds})
  </insert>

  <insert id="insertSelective" parameterType="com.hsjc.central.domain.EmailResetPwd">
    insert into tbemailresetpwd
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="userid != null">
        UserID,
      </if>
      <if test="createtime != null">
        CreateTime,
      </if>
      <if test="usetime != null">
        UseTime,
      </if>
      <if test="code != null">
        Code,
      </if>
      <if test="state != null">
        State,
      </if>
      <if test="validseconds != null">
        ValidSeconds,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="userid != null">
        #{userid},
      </if>
      <if test="createtime != null">
        #{createtime},
      </if>
      <if test="usetime != null">
        #{usetime},
      </if>
      <if test="code != null">
        #{code},
      </if>
      <if test="state != null">
        #{state},
      </if>
      <if test="validseconds != null">
        #{validseconds},
      </if>
    </trim>
  </insert>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tbemailresetpwd
    where ID = #{id}
  </delete>

  <update id="updateByPrimaryKeySelective" parameterType="com.hsjc.central.domain.EmailResetPwd">
    update tbemailresetpwd
    <set>
      <if test="userid != null">
        UserID = #{userid},
      </if>
      <if test="createtime != null">
        CreateTime = #{createtime},
      </if>
      <if test="usetime != null">
        UseTime = #{usetime},
      </if>
      <if test="code != null">
        Code = #{code},
      </if>
      <if test="state != null">
        State = #{state},
      </if>
      <if test="validseconds != null">
        ValidSeconds = #{validseconds},
      </if>
    </set>
    where ID = #{id}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.hsjc.central.domain.EmailResetPwd">
    update tbemailresetpwd
    set UserID = #{userid},
      CreateTime = #{createtime},
      UseTime = #{usetime},
      Code = #{code},
      State = #{state},
      ValidSeconds = #{validseconds}
    where ID = #{id}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tbemailresetpwd
    where ID = #{id}
  </select>
</mapper>