<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hsjc.central.mapper.RestfulLogMapper" >
  <resultMap id="BaseResultMap" type="com.hsjc.central.domain.RestfulLog" >
    <id column="restLogId" property="restLogId" jdbcType="BIGINT" />
    <result column="userId" property="userId" jdbcType="BIGINT" />
    <result column="actionId" property="actionId" jdbcType="INTEGER" />
    <result column="respCode" property="respCode" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="actionTime" property="actionTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
    restLogId, userId, actionId, respCode, description, actionTime
  </sql>

  <!--
   @author : zga
   @date : 2015-12-04
   新增
  -->
  <insert id="insert" parameterType="com.hsjc.central.domain.RestfulLog" >
    insert into tbrestfullog (restLogId, userId, actionId, 
      respCode, description, actionTime
      )
    values (#{restLogId}, #{userId}, #{actionId}, 
      #{respCode}, #{description}, #{actionTime}
      )
  </insert>

  <insert id="insertSelective" parameterType="com.hsjc.central.domain.RestfulLog" >
    insert into tbrestfullog
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="restLogId != null" >
        restLogId,
      </if>
      <if test="userId != null" >
        userId,
      </if>
      <if test="actionId != null" >
        actionId,
      </if>
      <if test="respCode != null" >
        respCode,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="actionTime != null" >
        actionTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="restLogId != null" >
        #{restLogId},
      </if>
      <if test="userId != null" >
        #{userId},
      </if>
      <if test="actionId != null" >
        #{actionId},
      </if>
      <if test="respCode != null" >
        #{respCode},
      </if>
      <if test="description != null" >
        #{description},
      </if>
      <if test="actionTime != null" >
        #{actionTime},
      </if>
    </trim>
  </insert>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tbrestfullog
    where restLogId = #{restLogId}
  </delete>

  <update id="updateByPrimaryKeySelective" parameterType="com.hsjc.central.domain.RestfulLog" >
    update tbrestfullog
    <set >
      <if test="userId != null" >
        userId = #{userId},
      </if>
      <if test="actionId != null" >
        actionId = #{actionId},
      </if>
      <if test="respCode != null" >
        respCode = #{respCode},
      </if>
      <if test="description != null" >
        description = #{description},
      </if>
      <if test="actionTime != null" >
        actionTime = #{actionTime},
      </if>
    </set>
    where restLogId = #{restLogId}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.hsjc.central.domain.RestfulLog" >
    update tbrestfullog
    set userId = #{userId},
      actionId = #{actionId},
      respCode = #{respCode},
      description = #{description},
      actionTime = #{actionTime}
    where restLogId = #{restLogId}
  </update>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from tbrestfullog
    where restLogId = #{restLogId}
  </select>
</mapper>