<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hsjc.central.mapper.RestfulLogMapper" >
  <resultMap id="BaseResultMap" type="com.hsjc.central.domain.RestfulLog" >
    <id column="restlogid" property="restlogid" jdbcType="BIGINT" />
    <result column="userid" property="userid" jdbcType="BIGINT" />
    <result column="actionid" property="actionid" jdbcType="INTEGER" />
    <result column="respcode" property="respcode" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="actiontime" property="actiontime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
    restlogid, userid, actionid, respcode, description, actiontime
  </sql>

  <!--
   @author : zga
   @date : 2015-12-04
   新增
  -->
  <insert id="insert" parameterType="com.hsjc.central.domain.RestfulLog" >
    insert into tbrestfullog (restlogid, userid, actionid, 
      respcode, description, actiontime
      )
    values (#{restlogid}, #{userid}, #{actionid}, 
      #{respcode}, #{description}, #{actiontime}
      )
  </insert>

  <insert id="insertSelective" parameterType="com.hsjc.central.domain.RestfulLog" >
    insert into tbrestfullog
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="restlogid != null" >
        restlogid,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="actionid != null" >
        actionid,
      </if>
      <if test="respcode != null" >
        respcode,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="actiontime != null" >
        actiontime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="restlogid != null" >
        #{restlogid},
      </if>
      <if test="userid != null" >
        #{userid},
      </if>
      <if test="actionid != null" >
        #{actionid},
      </if>
      <if test="respcode != null" >
        #{respcode},
      </if>
      <if test="description != null" >
        #{description},
      </if>
      <if test="actiontime != null" >
        #{actiontime},
      </if>
    </trim>
  </insert>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tbrestfullog
    where restlogid = #{restlogid}
  </delete>

  <update id="updateByPrimaryKeySelective" parameterType="com.hsjc.central.domain.RestfulLog" >
    update tbrestfullog
    <set >
      <if test="userid != null" >
        userid = #{userid},
      </if>
      <if test="actionid != null" >
        actionid = #{actionid},
      </if>
      <if test="respcode != null" >
        respcode = #{respcode},
      </if>
      <if test="description != null" >
        description = #{description},
      </if>
      <if test="actiontime != null" >
        actiontime = #{actiontime},
      </if>
    </set>
    where restlogid = #{restlogid}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.hsjc.central.domain.RestfulLog" >
    update tbrestfullog
    set userid = #{userid},
      actionid = #{actionid},
      respcode = #{respcode},
      description = #{description},
      actiontime = #{actiontime}
    where restlogid = #{restlogid}
  </update>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from tbrestfullog
    where restlogid = #{restlogid}
  </select>
</mapper>