<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsjc.central.mapper.SmsBindPhoneNumMapper">
  <resultMap id="BaseResultMap" type="com.hsjc.central.domain.SmsBindPhoneNum">
    <id column="BindID" jdbcType="INTEGER" property="bindid" />
    <result column="AuthID" jdbcType="INTEGER" property="authid" />
    <result column="UserID" jdbcType="BIGINT" property="userid" />
  </resultMap>

  <sql id="Base_Column_List">
    BindID, AuthID, UserID
  </sql>

  <!--
   @author : zga
   @date : 2015-12-04
   新增
  -->
  <insert id="insert" parameterType="com.hsjc.central.domain.SmsBindPhoneNum">
    insert into tbsmsbindphonenum (BindID, AuthID, UserID
      )
    values (#{bindid}, #{authid}, #{userid}
      )
  </insert>

  <insert id="insertSelective" parameterType="com.hsjc.central.domain.SmsBindPhoneNum">
    insert into tbsmsbindphonenum
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bindid != null">
        BindID,
      </if>
      <if test="authid != null">
        AuthID,
      </if>
      <if test="userid != null">
        UserID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bindid != null">
        #{bindid},
      </if>
      <if test="authid != null">
        #{authid},
      </if>
      <if test="userid != null">
        #{userid},
      </if>
    </trim>
  </insert>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tbsmsbindphonenum
    where BindID = #{bindid}
  </delete>

  <update id="updateByPrimaryKeySelective" parameterType="com.hsjc.central.domain.SmsBindPhoneNum">
    update tbsmsbindphonenum
    <set>
      <if test="authid != null">
        AuthID = #{authid},
      </if>
      <if test="userid != null">
        UserID = #{userid},
      </if>
    </set>
    where BindID = #{bindid}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.hsjc.central.domain.SmsBindPhoneNum">
    update tbsmsbindphonenum
    set AuthID = #{authid},
      UserID = #{userid}
    where BindID = #{bindid}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tbsmsbindphonenum
    where BindID = #{bindid}
  </select>
</mapper>