<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsjc.central.mapper.SmsResetPasswdMapper">
  <resultMap id="BaseResultMap" type="com.hsjc.central.domain.SmsResetPasswd">
    <id column="ResetID" jdbcType="INTEGER" property="resetid" />
    <result column="AuthID" jdbcType="INTEGER" property="authid" />
    <result column="UserID" jdbcType="BIGINT" property="userid" />
    <result column="NewPwdPlain" jdbcType="VARCHAR" property="newpwdplain" />
    <result column="NewPwdCrypt" jdbcType="VARCHAR" property="newpwdcrypt" />
  </resultMap>

  <sql id="Base_Column_List">
    ResetID, AuthID, UserID, NewPwdPlain, NewPwdCrypt
  </sql>

  <!--
   @author : zga
   @date : 2015-12-04
   新增
  -->
  <insert id="insert" parameterType="com.hsjc.central.domain.SmsResetPasswd">
    insert into tbsmsresetpasswd (ResetID, AuthID, UserID,
      NewPwdPlain, NewPwdCrypt)
    values (#{resetid,jdbcType=INTEGER}, #{authid,jdbcType=INTEGER}, #{userid,jdbcType=BIGINT}, 
      #{newpwdplain,jdbcType=VARCHAR}, #{newpwdcrypt,jdbcType=VARCHAR})
  </insert>

  <insert id="insertSelective" parameterType="com.hsjc.central.domain.SmsResetPasswd">
    insert into tbsmsresetpasswd
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="resetid != null">
        ResetID,
      </if>
      <if test="authid != null">
        AuthID,
      </if>
      <if test="userid != null">
        UserID,
      </if>
      <if test="newpwdplain != null">
        NewPwdPlain,
      </if>
      <if test="newpwdcrypt != null">
        NewPwdCrypt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="resetid != null">
        #{resetid,jdbcType=INTEGER},
      </if>
      <if test="authid != null">
        #{authid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="newpwdplain != null">
        #{newpwdplain,jdbcType=VARCHAR},
      </if>
      <if test="newpwdcrypt != null">
        #{newpwdcrypt,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tbsmsresetpasswd
    where ResetID = #{resetid,jdbcType=INTEGER}
  </delete>

  <update id="updateByPrimaryKeySelective" parameterType="com.hsjc.central.domain.SmsResetPasswd">
    update tbsmsresetpasswd
    <set>
      <if test="authid != null">
        AuthID = #{authid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        UserID = #{userid,jdbcType=BIGINT},
      </if>
      <if test="newpwdplain != null">
        NewPwdPlain = #{newpwdplain,jdbcType=VARCHAR},
      </if>
      <if test="newpwdcrypt != null">
        NewPwdCrypt = #{newpwdcrypt,jdbcType=VARCHAR},
      </if>
    </set>
    where ResetID = #{resetid,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.hsjc.central.domain.SmsResetPasswd">
    update tbsmsresetpasswd
    set AuthID = #{authid,jdbcType=INTEGER},
      UserID = #{userid,jdbcType=BIGINT},
      NewPwdPlain = #{newpwdplain,jdbcType=VARCHAR},
      NewPwdCrypt = #{newpwdcrypt,jdbcType=VARCHAR}
    where ResetID = #{resetid,jdbcType=INTEGER}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tbsmsresetpasswd
    where ResetID = #{resetid,jdbcType=INTEGER}
  </select>
</mapper>