<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsjc.central.mapper.SmsSendMapper">
  <resultMap id="BaseResultMap" type="com.hsjc.central.domain.SmsSend">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="PhoneNum" jdbcType="VARCHAR" property="phonenum" />
    <result column="MsgContent" jdbcType="VARCHAR" property="msgcontent" />
    <result column="SendFlag" jdbcType="INTEGER" property="sendflag" />
    <result column="SendTime" jdbcType="TIMESTAMP" property="sendtime" />
    <result column="byModule" jdbcType="VARCHAR" property="bymodule" />
    <result column="RequestKeyID" jdbcType="BIGINT" property="requestkeyid" />
  </resultMap>

  <sql id="Base_Column_List">
    ID, PhoneNum, MsgContent, SendFlag, SendTime, byModule, RequestKeyID
  </sql>

  <!--
   @author : zga
   @date : 2015-12-04
   新增
  -->
  <insert id="insert" parameterType="com.hsjc.central.domain.SmsSend">
    insert into tbsmssend (ID, PhoneNum, MsgContent,
      SendFlag, SendTime, byModule, 
      RequestKeyID)
    values (#{id}, #{phonenum}, #{msgcontent}, 
      #{sendflag}, #{sendtime}, #{bymodule}, 
      #{requestkeyid})
  </insert>

  <insert id="insertSelective" parameterType="com.hsjc.central.domain.SmsSend">
    insert into tbsmssend
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="phonenum != null">
        PhoneNum,
      </if>
      <if test="msgcontent != null">
        MsgContent,
      </if>
      <if test="sendflag != null">
        SendFlag,
      </if>
      <if test="sendtime != null">
        SendTime,
      </if>
      <if test="bymodule != null">
        byModule,
      </if>
      <if test="requestkeyid != null">
        RequestKeyID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="phonenum != null">
        #{phonenum},
      </if>
      <if test="msgcontent != null">
        #{msgcontent},
      </if>
      <if test="sendflag != null">
        #{sendflag},
      </if>
      <if test="sendtime != null">
        #{sendtime},
      </if>
      <if test="bymodule != null">
        #{bymodule},
      </if>
      <if test="requestkeyid != null">
        #{requestkeyid},
      </if>
    </trim>
  </insert>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tbsmssend
    where ID = #{id}
  </delete>

  <update id="updateByPrimaryKeySelective" parameterType="com.hsjc.central.domain.SmsSend">
    update tbsmssend
    <set>
      <if test="phonenum != null">
        PhoneNum = #{phonenum},
      </if>
      <if test="msgcontent != null">
        MsgContent = #{msgcontent},
      </if>
      <if test="sendflag != null">
        SendFlag = #{sendflag},
      </if>
      <if test="sendtime != null">
        SendTime = #{sendtime},
      </if>
      <if test="bymodule != null">
        byModule = #{bymodule},
      </if>
      <if test="requestkeyid != null">
        RequestKeyID = #{requestkeyid},
      </if>
    </set>
    where ID = #{id}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.hsjc.central.domain.SmsSend">
    update tbsmssend
    set PhoneNum = #{phonenum},
      MsgContent = #{msgcontent},
      SendFlag = #{sendflag},
      SendTime = #{sendtime},
      byModule = #{bymodule},
      RequestKeyID = #{requestkeyid}
    where ID = #{id}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tbsmssend
    where ID = #{id}
  </select>
</mapper>