<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsjc.central.mapper.SmsSendMapper">
  <resultMap id="BaseResultMap" type="com.hsjc.central.domain.SmsSend">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="phoneNum" jdbcType="VARCHAR" property="phoneNum" />
    <result column="msgContent" jdbcType="VARCHAR" property="msgContent" />
    <result column="sendFlag" jdbcType="INTEGER" property="sendFlag" />
    <result column="sendTime" jdbcType="TIMESTAMP" property="sendTime" />
    <result column="byModule" jdbcType="VARCHAR" property="byModule" />
    <result column="requestKeyId" jdbcType="BIGINT" property="requestKeyId" />
  </resultMap>

  <sql id="Base_Column_List">
    ID, phoneNum, msgContent, sendFlag, sendTime, byModule, requestKeyId
  </sql>

  <!--
   @author : zga
   @date : 2015-12-04
   新增
  -->
  <insert id="insert" parameterType="com.hsjc.central.domain.SmsSend">
    insert into tbsmssend (ID, phoneNum, msgContent,
      sendFlag, sendTime, byModule, 
      requestKeyId)
    values (#{id}, #{phoneNum}, #{msgContent}, 
      #{sendFlag}, #{sendTime}, #{byModule}, 
      #{requestKeyId})
  </insert>

  <insert id="insertSelective" parameterType="com.hsjc.central.domain.SmsSend">
    insert into tbsmssend
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="phoneNum != null">
        phoneNum,
      </if>
      <if test="msgContent != null">
        msgContent,
      </if>
      <if test="sendFlag != null">
        sendFlag,
      </if>
      <if test="sendTime != null">
        sendTime,
      </if>
      <if test="byModule != null">
        byModule,
      </if>
      <if test="requestKeyId != null">
        requestKeyId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="phoneNum != null">
        #{phoneNum},
      </if>
      <if test="msgContent != null">
        #{msgContent},
      </if>
      <if test="sendFlag != null">
        #{sendFlag},
      </if>
      <if test="sendTime != null">
        #{sendTime},
      </if>
      <if test="byModule != null">
        #{byModule},
      </if>
      <if test="requestKeyId != null">
        #{requestKeyId},
      </if>
    </trim>
  </insert>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tbsmssend
    where ID = #{id}
  </delete>

  <update id="updateByPrimaryKeySelective" parameterType="com.hsjc.central.domain.SmsSend">
    update tbsmssend
    <set>
      <if test="phoneNum != null">
        phoneNum = #{phoneNum},
      </if>
      <if test="msgContent != null">
        msgContent = #{msgContent},
      </if>
      <if test="sendFlag != null">
        sendFlag = #{sendFlag},
      </if>
      <if test="sendTime != null">
        sendTime = #{sendTime},
      </if>
      <if test="byModule != null">
        byModule = #{byModule},
      </if>
      <if test="requestKeyId != null">
        requestKeyId = #{requestKeyId},
      </if>
    </set>
    where ID = #{id}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.hsjc.central.domain.SmsSend">
    update tbsmssend
    set phoneNum = #{phoneNum},
      msgContent = #{msgContent},
      sendFlag = #{sendFlag},
      sendTime = #{sendTime},
      byModule = #{byModule},
      requestKeyId = #{requestKeyId}
    where ID = #{id}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tbsmssend
    where ID = #{id}
  </select>
</mapper>