<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hsjc.central.mapper.ThirdClientsMapper" >
  <resultMap id="BaseResultMap" type="com.hsjc.central.domain.ThirdClients" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="client_id" property="clientId" jdbcType="VARCHAR" />
    <result column="client_secret" property="clientSecret" jdbcType="VARCHAR" />
    <result column="contactorName" property="contactorname" jdbcType="VARCHAR" />
    <result column="contactorPhone" property="contactorphone" jdbcType="VARCHAR" />
    <result column="briefName" property="briefname" jdbcType="VARCHAR" />
    <result column="sso_password" property="ssoPassword" jdbcType="VARCHAR" />
    <result column="third_password" property="thirdPassword" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, client_id, client_secret, contactorName, contactorPhone, briefName, sso_password, 
    third_password
  </sql>

  <!--
   @author : zga
   @date : 2015-12-04
   新增
  -->
  <insert id="insert" parameterType="com.hsjc.central.domain.ThirdClients" >
    insert into tb3rdclients (id, client_id, client_secret, 
      contactorName, contactorPhone, briefName, 
      sso_password, third_password)
    values (#{id}, #{clientId}, #{clientSecret}, 
      #{contactorname}, #{contactorphone}, #{briefname}, 
      #{ssoPassword}, #{3rdPassword})
  </insert>

  <insert id="insertSelective" parameterType="com.hsjc.central.domain.ThirdClients" >
    insert into tb3rdclients
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="clientId != null" >
        client_id,
      </if>
      <if test="clientSecret != null" >
        client_secret,
      </if>
      <if test="contactorname != null" >
        contactorName,
      </if>
      <if test="contactorphone != null" >
        contactorPhone,
      </if>
      <if test="briefname != null" >
        briefName,
      </if>
      <if test="ssoPassword != null" >
        sso_password,
      </if>
      <if test="3rdPassword != null" >
        third_password,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="clientId != null" >
        #{clientId},
      </if>
      <if test="clientSecret != null" >
        #{clientSecret},
      </if>
      <if test="contactorname != null" >
        #{contactorname},
      </if>
      <if test="contactorphone != null" >
        #{contactorphone},
      </if>
      <if test="briefname != null" >
        #{briefname},
      </if>
      <if test="ssoPassword != null" >
        #{ssoPassword},
      </if>
      <if test="3rdPassword != null" >
        #{3rdPassword},
      </if>
    </trim>
  </insert>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tb3rdclients
    where id = #{id}
  </delete>

  <update id="updateByPrimaryKeySelective" parameterType="com.hsjc.central.domain.ThirdClients" >
    update tb3rdclients
    <set >
      <if test="clientId != null" >
        client_id = #{clientId},
      </if>
      <if test="clientSecret != null" >
        client_secret = #{clientSecret},
      </if>
      <if test="contactorname != null" >
        contactorName = #{contactorname},
      </if>
      <if test="contactorphone != null" >
        contactorPhone = #{contactorphone},
      </if>
      <if test="briefname != null" >
        briefName = #{briefname},
      </if>
      <if test="ssoPassword != null" >
        sso_password = #{ssoPassword},
      </if>
      <if test="3rdPassword != null" >
        third_password = #{3rdPassword},
      </if>
    </set>
    where id = #{id}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.hsjc.central.domain.ThirdClients" >
    update tb3rdclients
    set client_id = #{clientId},
      client_secret = #{clientSecret},
      contactorName = #{contactorname},
      contactorPhone = #{contactorphone},
      briefName = #{briefname},
      sso_password = #{ssoPassword},
      third_password = #{3rdPassword}
    where id = #{id}
  </update>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from tb3rdclients
    where id = #{id}
  </select>
</mapper>