<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
       <typeAliases>
           <typeAlias type="com.hsjc.central.domain.UserMain" alias="User"/>
       </typeAliases>
       <mappers>
           <mapper resource="com/hsjc/central/mapper/UserMapper.xml"/>
       </mappers>
</configuration>
