<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="../../public/yun">
    <head>
        <script type="text/javascript">
            $(function(){
                $('#mailbox').addClass('selected');
                $('#mailbox').children('#mailbox a').addClass('selected');
            });
        </script>
    </head>
    <body>
      <div id="content" layout:fragment="content">
          <div class="long_input_box">
              <form action="">
                  <div class="long_input_top">
                      <div class="input_font">邮箱号</div>
                      <input type="email" class="email"/>
                      <input type="submit" class="email_submit" value="下一步"/>
                  </div>
                  <div class="long_input_bot">用于接收来自平台的通知和找回密码，非常重要!</div>
              </form>
          </div>
      </div>

    </body>
</html>