<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="../../public/yun">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script type="text/javascript">
            $(function(){
                $('#basic_message').addClass('selected');
                $('#basic_message').children('#mailbox a').addClass('selected');
            });
        </script>
    </head>
    <body>
        <div id="content1" layout:fragment="content">
           <div class="message">
               <div class="message_l">云账号：</div>
               <div class="message_r">000</div>
           </div>
           <div class="message">
               <div class="message_l">用户名：</div>
               <div class="message_r">刘老师</div>
           </div>
           <div class="message">
               <div class="message_l">绑定邮箱：</div>
               <a href="#" class="bound"> 未绑定</a>
           </div>
           <div class="message">
               <div class="message_l">绑定手机： </div>
               <a href="#" class="bound"> 未绑定</a>
           </div>
           <div class="message">
               <div class="message_l">绑定邀请码：</div>
               <a href="#" class="bound"> 未绑定</a>
           </div>
           <div class="message">
               <div class="message_l">头像：</div>
               <div class="head_img">
                   <input type="file" class="head_file"/>
               </div>
               <div class="head_img_strong">(支持Jpg、Png或bmp格式的图片，建议文件小于20M)</div>
           </div>
           <div class="message">
               <div class="message_l">真实姓名：</div>
               <input type="text" id="user_name"/>
           </div>
           <div class="message">
               <div class="message_l">性别：</div>
               <ul class="sex">
                   <li class="selected">
                       <input type="radio" name="sex"/>
                       男
                   </li>
                   <li>
                       <input type="radio" name="sex"/>
                       女
                   </li>
               </ul>
           </div>
           <div class="message">
               <div class="message_l">证件号码：</div>
               <select>
                   <option>证件类型</option>
               </select>
               <input type="text" class="papers" />
           </div>
           <div class="message">
               <div class="message_l">个人介绍：</div>
               <div style="width:384px;">
                   <textarea class="peo_text"></textarea>
                   <input type="submit" class="message_submit" value="保存"/>
               </div>
           </div>
       </div>
    </body>
</html>