<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="../../public/yun">
    <head></head>
    <body>
       <div id="content" layout:fragment="content">
           <div class="password_box">
               <div class="password_label">
                   <div class="password_font">旧密码</div>
                   <input type="password" class="password"/>
               </div>
               <div class="password_label">
                   <div class="password_font">新密码</div>
                   <input type="password" class="password"/>
               </div>
               <div class="password_label">
                   <div class="password_font">密码强度</div>
                   <div class="password_r">
                       <ul class="password_strong">
                           <li class="ddd"></li>
                           <li></li>
                           <li></li>
                       </ul>
                       <ul class="password_strong_font">
                           <li class="ddd">弱</li>
                           <li>中</li>
                           <li>强</li>
                       </ul>
                   </div>
               </div>
               <div class="password_label">
                   <div class="password_font">确认密码</div>
                   <input type="password" class="password"/>
               </div>
               <input type="submit" class="save" value="保存"/>
           </div>
       </div>
       <script type="text/javascript">
           $(function(){
               $('#amend_password').addClass('selected');
               $('#amend_password a').children('#mailbox a').addClass('selected');
           });
       </script>
    </body>
</html>