<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="../../public/yun">
    <head>
        <link th:href="@{/static/css/validform.css}" href="../../../static/css/validform.css" rel="stylesheet" type="text/css"/>
        <script text="text/javascript" th:src="@{/static/scripts/jquery/jquery-1.11.3.min.js}" src="../../../static/scripts/jquery/jquery-1.11.3.min.js"></script>
        <script text="text/javascript" th:src="@{/static/scripts/ie/html5shiv.js}" src="../../../static/scripts/ie/html5shiv.js"></script>
        <script text="text/javascript" th:src="@{/static/scripts/ie/placeholder.js}"  src="../../../static/scripts/ie/placeholder.js"></script>
        <script text="text/javascript" th:src="@{/static/scripts/validform/Validform_v5.3.2_min.js}" src="../../../static/scripts/validform/Validform_v5.3.2_min.js"></script>
        <script text="text/javascript" th:src="@{/static/scripts/validform/passwordStrength-min.js}" src="../../../static/scripts/validform/passwordStrength-min.js"></script>
    </head>
    <body>
       <div id="content" layout:fragment="content">
           <div class="password_box">
               <form class="resetPwdForm" action="/sso/modifyPassword.json" method="post">
                   <div class="password_label">
                       <div class="password_font">旧密码</div>
                       <input type="password" name="old_password" class="password"/>
                       <span></span>
                   </div>
                   <div class="password_label">
                       <div class="password_font">新密码</div>
                       <input type="password" name="password" plugin="passwordStrength" datatype="*6-18" errormsg="密码至少6个字符,最多18个字符！" class="password"/>
                   </div>
                   <div class="password_label">
                       <div class="password_font">密码强度</div>
                       <div class="password_r">
                           <ul class="password_strong">
                               <li class="ddd1"></li>
                               <li class="ddd2"></li>
                               <li class="ddd3"></li>
                           </ul>
                           <ul class="password_strong_font">
                               <li class="ddd1">弱</li>
                               <li class="ddd2">中</li>
                               <li class="ddd3">强</li>
                           </ul>
                       </div>
                   </div>
                   <div class="password_label">
                       <div class="password_font">确认密码</div>
                       <input type="password" name="repassword" class="password" recheck="password"  datatype="*6-18" errormsg="两次输入的密码不一致！"/>
                   </div>
                   <input type="button" class="save" value="保存"/>
               </form>
               <span></span>
           </div>

           <script type="text/javascript">
               $(function(){
                   $('#amend_password').addClass('selected');
                   $('#amend_password a').addClass('selected');

                   /*var resetPwdForm = $('.resetPwdForm').Validform({
                       tiptype:2,
                       label:".label",
                       showAllError:true,
                       datatype:{
                           "s6-18":/^[\w\.\s]{6,18}$/
                       },
                       callback : function(form){

                       },
                       usePlugin:{
                           passwordstrength:{
                               minLen:6,
                               maxLen:18
                           }
                       }
                   });

                   resetPwdForm.tipmsg.w["s6-18"]="请输入6到18位英文和数字";

                   resetPwdForm.addRule([{
                       ele : ".password:eq(0)",
                       datatype : "s6-18"
                   }]);*/


                   $('.save').click(function(){
                       var oldPassword = $('input[name="old_password"]').val();
                       var password = $('input[name="password"]').val();
                       var data = {
                           'oldPassword' : oldPassword,
                           'password' : password
                       }

                       $.ajax({
                           url : '/sso/modifyPassword.json',
                           type : 'POST',
                           data : JSON.stringify(data),
                           contentType: 'application/json',
                           dataType : 'json',
                           success : function(data){
                               if(data.success){
                                   window.location.href = '/page/sso/modifyPasswordSucc.html';
                               }else {
                                   if(data.message == '100007') window.location.href = "/user/login.html";

                                   if(data.message == '100008') alert("原密码错误");

                                   if(data.message == '100009') alert('修改密码失败');
                               }
                           }
                       });
                   })
               });
           </script>
       </div>
    </body>
</html>