<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="../../public/yun">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link th:href="@{/static/css/sso.css}" href="../../../static/css/sso.css" rel="stylesheet" type="text/css"/>
        <link th:href="@{/static/css/bootstrap.css}" href="../../../static/css/bootstrap.css" rel="stylesheet" type="text/css"/>
        <script text="text/javascript" th:src="@{/static/scripts/jquery/jquery-1.11.3.min.js}" src="../../../static/scripts/jquery/jquery-1.11.3.min.js"></script>
        <script text="text/javascript" th:src="@{/static/scripts/ie/html5shiv.js}" src="../../../static/scripts/ie/html5shiv.js"></script>
        <script text="text/javascript" th:src="@{/static/scripts/ie/placeholder.js}"  src="../../../static/scripts/ie/placeholder.js"></script>
        <script text="text/javascript" th:src="@{/static/scripts/sso.js}" src="../../../static/scripts/sso.js"></script>
        <script type="text/javascript">
            $(function(){
                $('#phone').addClass('selected');
                $('#phone a').children('#mailbox a').addClass('selected');
            });
        </script>
    </head>
    <body>
        <div id="content" layout:fragment="content">
           <div class="password_box">
               <form action="">
                   <div class="phone_label">
                       <div class="phone_font">手机号</div>
                       <input type="text" pattern="13[0-9]\d{8}" id="phone_input"/>
                       <div class="get_phone">短信获取</div>
                   </div>
                   <div class="phone_strong">用于接收来自平台的通知和找回密码，非常重要!</div>
                   <div class="phone_label">
                       <div class="phone_font">验证码</div>
                       <input type="text" pattern="\d{6}" id="code"/>
                       <div class="second">180秒后可重新获取</div>
                   </div>
                   <input type="submit" value="下一步" class="phone_submit">
               </form>
           </div>
       </div>
    </body>
</html>