<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="../../public/yun">
    <head></head>
    <body>
        <div id="content" layout:fragment="content">
           <div class="password_box">
               <form class="phoneForm" action="/sso/bindPhone.json" method="post">
                   <div class="phone_label">
                       <div class="phone_font">手机号</div>
                       <input type="text"  id="phone_input" name="phone"/>
                       <input type="button" class="get_phone" value="免费获取验证码"/>
                   </div>
                   <div class="phone_strong">用于接收来自平台的通知和找回密码，非常重要!</div>
                   <div class="phone_label">
                       <div class="phone_font">验证码</div>
                       <input type="text" pattern="\d{6}" id="code" name="code"/>
                       <div class="second"><!--180秒后可重新获取--></div>
                   </div>
                   <input type="submit" value="确定" class="phone_submit"/>
               </form>
           </div>
           <script type="text/javascript">
               $(function(){
                    $('#phone').addClass('selected');
                    $('#phone a').addClass('selected');

                   /**
                    *表单校验
                    */
                   var phoneForm = $('.phoneForm').Validform({
                       tiptype:3,
                       label:".label",
                       showAllError:true,
                       datatype:{
                           "n11":/^\d{11}$/
                       },
                       callback : function(form){
                           /**
                            * 绑定手机(submit请求)
                            */
                           var phone = $('input[name="phone"]').val();
                           var code = $('input[name="code"]').val();
                           var data = {
                               'phone' : phone,
                               'code' : code
                           }
                           $.ajax({
                               url : '/sso/bindPhone.json',
                               type : 'post',
                               data : JSON.stringify(data),
                               dataType : 'json',
                               contentType : 'application/json',
                               success : function(data){
                                   if(data.success){
                                       window.location.href = '/sso/personalSettings.html';
                                   }else {
                                       alert(ErrorMessage[data.message]);
                                       if(data.message == '100007') window.location.href = "/user/login.html";

                                   }
                               }
                           });
                       }
                   });

                   phoneForm.tipmsg.w["n11"]=" ";
                   phoneForm.addRule([{
                       ele : "#phone_input",
                       datatype : "n11"
                   }]);

                   /**
                    * 获取验证码
                    */
                   $('.get_phone').click(function () {
                       var phone = $('input[name="phone"]').val();
                       if(phone == null || phone == '') {
                           alert('请输入手机号!');
                           return false;
                       }

                       if(!Constant.phonePattern.test(phone)) {
                           alert('请输入正确的手机号!');
                           return false;
                       }

                       /**
                        * 获取验证码倒计时
                        */
                       SSOSystem.time($(this),5,"免费获取验证码");
                   });
                });
           </script>
        </div>
    </body>
</html>