* {
  padding: 0;
  margin: 0; }

ul, ol {
  list-style: none; }

a:link {
  text-decoration: none;
  outline: none; }

a:hover {
  text-decoration: none;
  outline: none; }

a:active {
  text-decoration: none;
  outline: none; }

a:visited {
  text-decoration: none;
  outline: none; }

.fc364, .step_mark li, .figure a:link, .figure a:visited, .input_box_l, .send_l, .hint, .ipone_box_l, .invite_box_l, .congratulation, .leap {
  color: #364049; }

.input_lh, .send_l, .anew, .anew60, .hint, .ipone_box, .ipone_box_l, .ipone_num, .verify_code, .note, .count, .ipone_box_next, .invite_box, .invite_box_l, .congratulation, .login_html {
  height: 52px;
  line-height: 52px; }

.block, .figure a:link, .context a, .promptly, .invite_next, .vault, .login_html, #vimg {
  display: block; }

.none, .aside2, .mistake, .correct, .anew, .count {
  display: none; }

.pointer, .anew, .anew60, .note, .ipone_next, .skip, .invite_next {
  cursor: pointer; }

.top_box, .ipone, .invite {
  margin: 120px auto 0; }

.input_box {
  margin-bottom: 20px; }

.h_title, .step {
  margin-top: 30px; }

.indent, .input_box input, .ipone_num, .verify_code, .login_input, .self_motion {
  text-indent: 20px; }

.progress_1, .progress_2 {
  margin-left: 25px; }

.aside1, .aside2, .section {
  margin-top: 88px; }

.step_mark li.last, .step_step li.last {
  margin-right: 0px; }

.step_mark li {
  margin-right: 160px; }

.progress_1, .progress_2 {
  top: 16px; }

.step_step {
  top: 60px; }

.step_mark {
  top: 0; }

.fc, .h_title, .step_step li {
  color: #727c85; }

.fs34, .h_title {
  font-size: 34px; }

.fs14, .forget, .log_promptly, .promptly_register, .promptly_register a {
  font-size: 14px; }

.fs18, .step_step li, .input_box input, .leap, .login_input, .log {
  font-size: 18px; }

.fs16 {
  font-size: 16px; }

.fff, .context a, .context .next, .anew, .note, .ipone_next, .vault:hover, .log {
  color: #fff; }

.fs20, .context a, .context .next, .anew, .anew60, .hint, .ipone_box_l, .ipone_num, .verify_code, .note, .count, .ipone_next, .skip, .invite_box_l, .invite_next, .vault {
  font-size: 20px; }

.fs24, .figure a:link, .aside1, .aside2 {
  font-size: 24px; }

.fs26, .login_title {
  font-size: 24px; }

.fs28, .congratulation, .login_html {
  font-size: 28px; }

.family, .h_title, .step_step li, .figure a:link, .aside1, .aside2, .input_box_l, .context a, .context .next, .send_l, .anew, .anew60, .promptly, .hint, .ipone_box_l, .ipone_num, .verify_code, .note, .count, .ipone_next, .skip, .invite_box_l, .invite_next, .vault, .congratulation, .login_html, .leap, .login_title, .login_input, .forget, .log, .log_promptly, .promptly_register, .promptly_register a {
  font-family: \5FAE\8F6F\96C5\9ED1; }

.center, .header .center, .container-fluid .center {
  width: 1200px;
  margin: 0 auto; }

.left, .step_mark li, .step_step li, .figure .student:link, .aside1, .aside2, .section, .input_box_l, .input_box input, .mistake, .correct, .context a.prev, .verify_img, .verify, .send_l, .anew, .anew60, .ipone_box_l, .ipone_num, .verify_code, .note, .ipone_next, .skip, .inviteCode, .invite_box_l, .invite_next, .vault, .register_succeed_l, .register_succeed_r, .congratulation, .login_html, .self_motion, #vimg {
  float: left; }

.right, .figure .teacher:link, .context .next, .count, .forget {
  float: right; }

.text-center, .step_mark li, .figure a:link, .aside1, .aside2, .context a, .context .next, .anew, .anew60, .note, .ipone_next, .vault, .login_title, .log {
  text-align: center; }

.text-left, .h_title {
  text-align: left; }

.text-right, .input_box_l, .count {
  text-align: right; }

.rel, .step, .login, .self_motion {
  position: relative; }

.abs, .step_mark, .step_step, .progress_1, .progress_2, .self_motion input {
  position: absolute; }

.hidden, .header, .container-fluid, .send, .register_succeed_r, .register_succeed {
  overflow: hidden; }

.header {
  background-color: #364049;
  height: 210px; }

.step_mark {
  width: 1098px;
  z-index: 3;
  left: 20px; }

.step_mark li {
  background: url(../../images/register/progress1.png) no-repeat;
  width: 48px;
  height: 48px;
  line-height: 48px;
  font-size: 24px; }

.step_mark li.select {
  background: url(../../images/register/progress2.png) no-repeat;
  color: #fff; }

.step_mark li.selected {
  background: url(../../images/register/progress3.png) no-repeat; }

.step_step {
  left: 6px; }

.step_step li {
  margin-right: 138px; }

.step_step li.selected2 {
  color: #fff; }

.step_step li.selected1 {
  color: #ffad00; }

.step_step li.particularly {
  margin-left: -12px;
  margin-right: 128px; }

.progress_1 {
  height: 16px;
  width: 1080px;
  background-color: #768089;
  z-index: 1; }

.progress_2 {
  height: 16px;
  background-color: #ffad00;
  z-index: 2; }

.container-fluid {
  background-color: #f4f4f4; }

.figure {
  width: 568px;
  margin: 180px auto 0; }

.figure a:link {
  width: 187px;
  height: 250px;
  line-height: 465px;
  text-decoration: none; }

.figure a:hover {
  color: #008acb; }

.figure a:visited {
  text-decoration: none; }

.figure .student:link {
  background: url(../../images/register/student1.png) no-repeat center 8px; }
.figure .teacher:link {
  background: url(../../images/register/teacher1.png) no-repeat center 8px; }

.figure .student:hover {
  background: url(../../images/register/student2.png) no-repeat center 8px;
  color: #008acb;
  text-decoration: none; }
.figure .teacher:hover {
  background: url(../../images/register/teacher2.png) no-repeat center 8px;
  color: #008acb;
  text-decoration: none; }

.figure .student:active {
  background: url(../../images/register/student3.png) no-repeat center top;
  color: #008acb;
  text-decoration: none; }
.figure .teacher:active {
  background: url(../../images/register/teacher3.png) no-repeat center top;
  color: #008acb;
  text-decoration: none; }

.aside1 {
  width: 344px;
  height: 250px;
  border-right: 1px solid #768089;
  background: url(../../images/register/student3.png) no-repeat center top;
  color: #008acb;
  line-height: 470px; }

.aside2 {
  width: 344px;
  height: 250px;
  border-right: 1px solid #768089;
  background: url(../../images/register/teacher3.png) no-repeat center top;
  color: #008acb;
  line-height: 470px; }

.input_box {
  width: 750px;
  height: 50px; }

.input_box_l {
  width: 110px;
  height: 50px;
  line-height: 50px;
  margin-right: 20px;
  font-size: 20px;
  background: url(../../images/register/xi.png) no-repeat 10px center; }

.input_box input {
  height: 48px;
  line-height: 48px;
  width: 300px;
  background: none;
  border: 1px solid #717679;
  border-radius: 5px;
  margin-right: 40px;
  color: #768089; }

.inspect, .mistake, .correct {
  width: 28px;
  height: 28px;
  margin-top: 11px; }

.mistake {
  background: url(../../images/register/mistake.png) no-repeat center; }

.correct {
  background: url(../../images/register/correct.png) no-repeat center; }

.context {
  width: 450px;
  margin-top: 60px;
  padding-bottom: 100px; }

.context a {
  width: 216px;
  height: 58px;
  line-height: 58px;
  background: url(../../images/register/prev.png) no-repeat center; }

.context a:hover {
  background: url(../../images/register/next.png) no-repeat center; }

.context .next {
  width: 216px;
  height: 58px;
  line-height: 58px;
  background: url(../../images/register/prev.png) no-repeat center;
  border: none; }
.context .next:hover {
  background: url(../../images/register/next.png) no-repeat center; }

.verify_img {
  width: 586px;
  height: 385px;
  background: url(../../images/register/verify.png) no-repeat; }

.verify {
  width: 614px; }

.send {
  margin-top: 185px; }

.send_l {
  font-size: 28px;
  margin-right: 25px; }

.anew {
  width: 210px;
  background: url(../../images/register/anew1.png) no-repeat; }

.anew:hover {
  background: url(../../images/register/anew2.png) no-repeat; }

.anew60 {
  width: 210px;
  color: #ec8558;
  background: url(../../images/register/anew60.png) no-repeat; }

.promptly {
  line-height: 44px;
  color: #ec8558;
  font-size: 28px; }

.ipone {
  width: 650px; }

.ipone_box {
  margin-bottom: 20px; }

.ipone_box_l {
  margin-right: 30px; }

.ipone_num {
  width: 210px;
  background: url(../../images/register/ipone_num.png) no-repeat;
  border: none;
  margin-right: 20px;
  color: #768089; }

.verify_code {
  width: 140px;
  background: url(../../images/register/verify_code.png) no-repeat;
  border: none;
  margin-right: 35px;
  color: #768089; }

.note {
  width: 140px;
  background-color: #00b6e3;
  border: none;
  border-radius: 5px; }

.note.click {
  color: #b5b9bc;
  background: url(../../images/register/note_click.png) no-repeat; }

.count {
  color: #e55348;
  padding-right: 16px; }

.ipone_box_next {
  height: 58px;
  margin-top: 42px; }

.ipone_next {
  width: 216px;
  height: 58px;
  line-height: 58px;
  background: url(../../images/register/ipone_next.png) no-repeat center;
  margin-left: 90px;
  margin-right: 55px; }

.ipone_next:hover {
  background: url(../../images/register/next.png) no-repeat center; }

.skip {
  height: 58px;
  line-height: 58px;
  color: #b5b9bc; }

.skip:hover {
  color: #74bc41; }

.inviteCode {
  width: 210px;
  height: 52px;
  line-height: 52px;
  background: url("../../images/register/ipone_num.png") no-repeat;
  border: none;
  text-indent: 20px;
  font-size: 20px;
  color: #768089;
  margin-right: 20px; }

.invite {
  width: 542px;
  height: 60px; }

.invite_box_l {
  margin-right: 30px; }

.invite_next {
  margin-right: 30px;
  color: #364049;
  height: 52px;
  line-height: 52px; }

.vault {
  width: 216px;
  height: 58px;
  line-height: 58px;
  background: url(../../images/register/vault.png) no-repeat center;
  color: #74bc41; }

.vault:hover {
  background: url(../../images/register/next.png) no-repeat center; }

.register_succeed_l {
  width: 518px;
  height: 327px;
  background: url(../../images/register/register_succeed.png) no-repeat; }

.register_succeed_r {
  width: 682px; }

.register_succeed {
  margin-top: 200px; }

.congratulation {
  margin-right: 5px; }

.login_html {
  color: #ec8558; }

.leap {
  margin-top: 15px; }

.login {
  width: 481px;
  height: 356px;
  background: url(../../images/register/login.png) no-repeat;
  margin: 250px auto; }

.login_title {
  height: 90px;
  line-height: 90px;
  color: #636571;
  font-weight: 500; }

.login_bottom, .login_input, .login_password, .log {
  margin-bottom: 18px; }

.login_box {
  width: 375px;
  margin: 0 auto 0; }

.login_input {
  width: 375px;
  height: 48px;
  line-height: 48px;
  background: url(../../images/register/login_input.png) no-repeat;
  border: none;
  color: #b3b2b6; }

.login_password {
  height: 16px; }

.self_motion {
  height: 16px;
  line-height: 16px;
  background: url(../../images/register/self_motion1.png) no-repeat left;
  margin-right: 10px; }

.self_motion input {
  top: 0;
  left: 0;
  filter: alpha(opacity=0);
  opacity: 0; }

.self_motion.check {
  background: url(../../images/register/self_motion2.png) no-repeat left; }

.forget {
  height: 16px;
  line-height: 16px;
  color: #74bc41; }

.log {
  width: 375px;
  height: 48px;
  line-height: 48px;
  background: url(../../images/register/log.png) no-repeat;
  border: none; }

.log_promptly, .promptly_register, .promptly_register a {
  height: 16px;
  line-height: 16px; }

.promptly_register {
  color: #9b9a9d; }

.promptly_register a {
  color: #74bc41; }

#vimg {
  height: 48px; }

.footer {
  background-color: #353535; }

.footer .center {
  width: 1000px;
  margin: 0 auto;
  padding: 30px 0;
  position: relative; }

.foot-size {
  height: 28px;
  line-height: 28px;
  font-family: \5FAE\8F6F\96C5\9ED1;
  white-space: pre;
  color: #959595;
  font-size: 14px;
  text-align: center; }

.footer .center span {
  height: 30px;
  line-height: 30px;
  font-family: \5FAE\8F6F\96C5\9ED1;
  white-space: pre;
  text-align: center;
  color: #959595;
  display: block;
  font-size: 14px; }

.footer .center img {
  width: 94px;
  height: 94px;
  display: block; }

.android {
  width: 94px;
  position: absolute;
  right: 0;
  top: 20px; }

.ios {
  width: 94px;
  position: absolute;
  right: 140px;
  top: 20px; }

/*# sourceMappingURL=register.css.map */
