<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="../../public/resetPassWord">
    <head>
        <style type="text/css">
            .progress2{
                width:0px;
            }
            .circle li.c1{
                background: url(../../../static/images/password/circle3.png);
            }
        </style>
    </head>
    <body>
        <div class="container" layout:fragment="content">
            <div class="center">
                <form action="passwordTwo.html" method="post">
                    <div class="pace">
                        <div class="pace_name">手机号</div>
                        <input type="text" pattern="13[0-9]\d{8}" class="text" autocomplete="on" autofocus="true" required="required"/>

                    </div>
                    <div class="pace">
                        <div class="pace_name">验证码</div>
                        <input type="text"  class="verification_code"  required="required" />
                        <img src="" class="invitation_img"/>
                        <div class="cut">换一张</div>
                    </div>
                    <input type="submit" value="下一步" class="submit"/>

                </form>
            </div>
            <script type="text/javascript">
                $(function(){
                    $('.circle li.c1').html('');
                    $('.procedure_text li.f1').addClass('selected');
                });
            </script>
        </div>
    </body>
</html>