<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="../../public/resetPassWord">
    <head>
        <style type="text/css">
            .progress2{
                width:470px;
            }
            .circle li.c1{
                background: url(../../../static/images/password/circle3.png);
            }
            .circle li.c2{
                background: url(../../../static/images/password/circle2.png);
            }

        </style>
    </head>
    <body>
        <div class="container" layout:fragment="content">
            <div class="center">
                <div class="pace"></div>
                <div class="pace"></div>
            </div>
            <script type="text/javascript">
                $(function(){

                    $('.circle li.c1').html('');
                    $('.circle li.c2').addClass('selected');
                    $('.procedure_text li.f1').addClass('selected');
                    $('.procedure_text li.f2').addClass('selected');
                });
            </script>
        </div>
    </body>
</html>