<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="../../public/yun">
    <head></head>
    <body>
        <div class="container" layout:fragment="service">
            <div class="register_nav">
                <nav>
                    <a th:each="ico : ${icons}" th:href="@{${ico.accessURL}}">
                        <img th:src="@{${ico.icoPath}}"/>
                    </a>
                </nav>
            </div>
        </div>
    </body>
</html>