<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="../../public/yun">
    <head></head>
    <body>
        <div class="container" layout:fragment="service">
            <div class="register_nav">
                <nav>
                    <a th:each="ico : ${icons}" th:href="@{${ico.accessURL}}">
                        <img th:src="@{${ico.icoPath}}"/>
                    </a>
                </nav>
            </div>
            <script type="text/javascript">
                $(function(){
                    var comh= $('.container').height();
                    var rh= $('.register_nav').height();
                    var rrh=(comh-rh)/2;
                    $('.register_nav').css('margin',rrh+ 'px auto 0');

                    $(window).on('resize scroll',function(){
                        var comh= $('.container').height();
                        var rh= $('.register_nav').height();
                        var rrh=(comh-rh)/2;
                        $('.register_nav').css('margin',rrh+ 'px auto 0');
                    });

                });
            </script>
        </div>
    </body>
</html>