<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv = "X-UA-Compatible" content = "IE=chrome" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link th:href="@{/static/css/sass/register.css}" href="../../../static/css/sass/register.css" rel="stylesheet" type="text/css"/>
	<link th:href="@{/static/css/sass/bootstrap.css}" href="../../../static/css/sass/bootstrap.css" rel="stylesheet" type="text/css"/>
	<script text="text/javascript" th:src="@{/static/scripts/jquery/jquery-1.11.3.min.js}" src="../../../static/scripts/jquery/jquery-1.11.3.min.js"></script>
	<script text="text/javascript" th:src="@{/static/scripts/ie/html5shiv.js}" src="../../../static/scripts/ie/html5shiv.js"></script>
	<script text="text/javascript" th:src="@{/static/scripts/ie/placeholder.js}"  src="../../../static/scripts/ie/placeholder.js"></script>
	<script text="text/javascript" th:src="@{/static/scripts/bootstrap/bootstrap.min.js}" src="../../../static/scripts/bootstrap/bootstrap.min.js"></script>
	<script text="text/javascript" th:src="@{/static/scripts/validform/Validform_v5.3.2_min.js}" src="../../../static/scripts/validform/Validform_v5.3.2_min.js"></script>
	<script text="text/javascript" th:src="@{/static/scripts/register.js}" src="../../../static/scripts/register.js"></script>
	<style>
		.progress_2{
			width:870px;
		}
	</style>
</head>
<body>
	<header class="header">
		<div class="center">
			<div class="h_title">完成注册只需6个简单的步骤</div>
			<div class="step">
				<div class="progress_1"></div>
				<div class="progress_2"></div>
				<ul class="step_mark">
					<li class="selected"></li>
					<li class="selected"></li>
					<li class="selected"></li>
					<li class="selected"></li>
					<li class="select">5</li>
					<li class="last">6</li>
				</ul>
				<ul class="step_step">
					<li class="selected">选择角色</li>
					<li class="selected">基本信息</li>
					<li class="selected">邮箱验证</li>
					<li class="selected">手机验证</li>
					<li class="particularly selected">邀请码验证</li>
					<li class="last">注册成功</li>
				</ul>
			</div>

		</div>
	</header>
	<div class="container-fluid">
		<div class="center">
			<form name="inviteForm" >
				<input type="hidden" name="email" th:value="${email}"/>
				<div class="invite">
					<div class="invite_box">
						<div class="invite_box_l">邀请码</div>
						<input type="text" class="inviteCode" placeholder="请输入您的邀请码"/>
						<div class="mistake"></div>
						<div class="correct"></div>
					</div>
					<div class="ipone_box_next">
						<div class="ipone_next">下一步</div>
						<div class="skip">跳过</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<footer class="footer">
		<div class="foot">版权所有 © 2002-2014 上海市普陀区教育局 上海市普陀区现代教育技术中心</div>
		<div class="foot">地址：上海市普陀区大渡河路1688号 邮编：200333 电话：021-62601856</div>
	</footer>

	<script type="text/javascript">
		$(function(){
			var demo=$(".inviteForm").Validform({
				btnSubmit:'.invite_next',
				tiptype:3,
				showAllError:false,
				datatype:{
					"n8":/^\d{8}$/
				},
				callback : function(form){
					if(true){
						var data = {
							'email' : $('input[name="email"]').val(),
							'inviteCode' : $('.verify_code').val()
						}
						$.ajax({
							url : '/user/checkInviteCode.json',
							type : 'post',
							data : JSON.stringify(data),
							contentType: 'application/json',
							dataType : 'json',
							success : function(data){
								if(data.success){
									//成功跳转
									$.ajax({
										url : '/user/activateInviteCode.json',
										type : 'post',
										data : JSON.stringify(),
										contentType : 'application/json',
										dataType : 'json',
										success : function(){
											activateInviteCode();
										}
									});
								} else {
									//否则提示错误
									$.Showmsg('邀请码错误!');
								}
							}
						})
					}
					return false;
				}
			});
			demo.tipmsg.w["n8"]="请输入8位数的邀请码";

			demo.addRule([{
				ele:".inviteCode:eq(0)",
				datatype:"n8",
				nullmsg:'请输入邀请码',
				sucmsg:' '
			}]);

			//跳过click函数
			$('.skip').click(function(){
				activateInviteCode();
			});
		});

		/**
		 * 激活验证码
		 */
		function activateInviteCode(){
			var email = $('input[name="email"]').val();
			var data = {
				'email' : email
			};
			$.ajax({
				url : '/user/activateInviteCode.html',
				type : 'post',
				data : JSON.stringify(data),
				contentType : 'application/json',
				dataType : 'json',
				success : function(){
				}
			});
		}
	</script>
</body>
</html>


