<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	  layout:decorator="../../public/register">
	<head>
		<style>

		</style>
	</head>
	<body>
		<div class="container-fluid" layout:fragment="content">
			<div class="center">
				<aside class="verify_img"></aside>
				<section class="verify">
					<div class="send">
						<div class="send_l">验证信息已发送至邮箱!</div>
						<div class="anew">重新发送</div>
						<input type="button" class="anew60"/>
					</div>
					<input type="hidden" th:value="${email}" name="email"/>
					<a href="#" class="promptly">立即前往验证&gt;&gt;</a>
					<div class="hint">(邮箱激活链接24小时内有效)</div>
				</section>
			</div>
			<script text="text/javascript">
				if($('input[name="email"]').val() == null
						||$('input[name="email"]').val() == ''
						||$('input[name="email"]').val() == undefined){
					//window.location.href = '/page/register/1.html';
				}
				$(function(){
					$('.step_mark1').html('');
					$('.step_mark2').html('');

					$('.step_mark1').addClass('selected2');
					$('.step_mark2').addClass('selected2');
					$('.step_mark3').addClass('selected1');


					$('.step_step1').addClass('selected2');
					$('.step_step2').addClass('selected2');
					$('.step_step3').addClass('selected1');

					var conh=$('.container-fluid').height();

					var cenh=$('.container-fluid .center').height();

					var cenm=(conh-cenh)/2;

					$('.container-fluid .center').css('margin',cenm+'px auto 0');


					$(window).on('resize scroll',function(){

						var conh=$('.container-fluid').height();

						var cenh=$('.container-fluid .center').height();

						var cenm=(conh-cenh)/2;

						$('.container-fluid .center').css('margin',cenm+'px auto 0');
					});


					var time=60;
					var timer=null;
					$('input.anew60').val(time+'秒后可重新发送');

					timer=setInterval(function(){
						if(time>1){
							time--;
							$('.anew60').val(time+'秒后可重新发送');
						}else{
							clearInterval(timer);
							time=100;
							$('.anew60').val(time+'秒后可重新发送');
							$('.anew60').hide();
							$('.anew').show();
						};

					},1000);


					$(document).on('click','.anew',function(){
						$('.anew60').show();
						$('.anew').hide();
						clearInterval(timer);
						timer=setInterval(function(){
							if(time>1){
								time--;
								$('.anew60').val(time+'秒后可重新获取');
							}else{
								clearInterval(timer);
								time=100;
								$('.anew60').val(time+'秒后可重新获取');
								$('.anew60').hide();
								$('.anew').show();
							};

						},1000);
					});

					//立即前往
					$('.promptly').click(function(){
						var email = $('input[name="email"]').val();
						var sub = email.substring(email.indexOf("@")+1);
						window.location.href = 'https://mail.'+ sub;
					});

					//重新发送
					$('.anew').click(function(){

					});
				});
			</script>
		</div>
	</body>
</html>

