<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	  layout:decorator="../../public/register">
	<head>
		<style>
			.progress_2{
				width:220px;
			}
		</style>
	</head>
	<body>
		<div class="container-fluid" layout:fragment="content">
			<div class="center">
				<aside class="aside1" th:if="${type eq 'student'}" style="display: block;">我是学生</aside>
				<aside class="aside2" th:if="${type eq 'teacher'}" style="display: block;">我是老师</aside>
				<section class="section">
					<form class="regForm" action="/user/register.json" method="post">
						<input type="hidden" th:value="${type}" name="type"/>
						<div class="input_box">
							<label><div class="input_box_l">用户名</div></label>
							<input type="text" name="username" placeholder="请输入8到20位英文和数字" class="inputxt"/>
							<div class="mistake"></div>
							<div class="correct"></div>
						</div>
						<div class="input_box">
							<div class="input_box_l">邮箱</div>
							<input type="text" name="email" placeholder="用于绑定账号以及验证" class="inputxt"/>
							<div class="mistake"></div>
							<div class="correct"></div>
						</div>

						<!--姓名、性别-->
						<div class="input_box">
							<div class="input_box_l">姓名</div>
							<input type="text" name="realName" placeholder="姓名" class="inputxt"/>
							<div class="mistake"></div>
							<div class="correct"></div>
						</div>

						<div class="input_box">
							<div class="input_box_l">性别</div>
							<input type="radio" name="gender" value="1" placeholder="男" checked="checked"/>
							<input type="radio" name="gender" value="0" placeholder="女"/>
							<div class="mistake"></div>
							<div class="correct"></div>
						</div>

						<div class="input_box">
							<div class="input_box_l" >密码</div>
							<input type="password" placeholder="6~10个英文和数字,区分大小写" name="password" class="inputxt"/>
							<div class="mistake"></div>
							<div class="correct"></div>
						</div>
						<div class="input_box">
							<div class="input_box_l">确认密码</div>
							<input type="password" placeholder="6~10个英文和数字,区分大小写"  name="password2" class="inputxt"/>
							<div class="mistake"></div>
							<div class="correct"></div>
						</div>
						<div class="input_box">
							<div class="input_box_l">验证码</div>
							<input type="text" name="code" placeholder="请输入右侧验证码" style="width:170px;" class="inputxt"/>
							<img id="vimg" src="/code.html"/>
						</div>
						<div class="context">
							<a href="/page/register/1.html" class="prev">上一步</a>
							<input type="submit" class="next" value="下一步"/>
						</div>
					</form>
				</section>
			</div>
			<script type="text/javascript">
				$(function(){
					var demo = $(".regForm").Validform({
						tiptype:3,
						label:".label",
						showAllError:true,
						datatype:{
							"s6-18":/^[\w\.\s]{6,18}$/,
							"s2-10":/^\s{2,10}/,
							"e" : const
						},
						callback : function(form){
							var check=confirm("您确定要提交表单吗？");
							if(check){
								var username = $('input[name="username"]').val();
								var password = $('input[name="password"]').val();
								var email = $('input[name="email"]').val();
								var type = $('input[name="type"]').val();
								var code = $('input[name="code"]').val();
								var realName = $('input[name="realName"]').val();
								var gender = $('input[name="gender"]').val();

								var data = {
									'username' : username,
									'password' : password,
									'email' : email,
									'type' : type,
									'code' : code,
									'realName' : realName,
									'gender' : gender
								}

								$.ajax({
									url : '/user/register.json',
									type : 'POST',
									data : JSON.stringify(data),
									contentType: 'application/json',
									dataType : 'json',
									success : function(data){
										if(data.success){
											window.location.href = '/page/register/3.html?email=' + email;
										}else {
											if(data.message == '100002') alert('验证码错误');
											if(data.message == '100004') alert('注册失败');
										}
									}
								});
							}
							return false;
						}
					});

					demo.tipmsg.w["s6-18"]="请输入6到18位英文和数字";

					demo.addRule([{
						ele:".inputxt:eq(0)",
						datatype:"s6-18"
					},{
						ele:".inputxt:eq(1)",
						datatype:"e"
					},{
						ele:".inputxt:eq(2)",
						datatype:"s2-10"
					},{
						ele:".inputxt:eq(3)",
						datatype:"*6-10"
					},{
						ele:".inputxt:eq(4)",
						datatype:"*",
						recheck:"password"
					},{
						ele:".inputxt:eq(5)",
						datatype:"*6"
					}
					]);

					//验证码
					$('#vimg').click(function(){
						//时间戳
						//为了使每次生成图片不一致，即不让浏览器读缓存，所以需要加上时间戳
						var timestamp = (new Date()).valueOf();
						$(this).attr('src',"/code.html?timestamp=" + timestamp);
					});
				});
			</script>
		</div>
	</body>
</html>

