<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	  layout:decorator="../../public/register">
	<head>
		<style>
			.progress_2{
				width:1040px;
			}
		</style>
	</head>
	<body>
		<div class="container-fluid" layout:fragment="content">
			<div class="center">
				<div class="register_succeed_l"></div>
				<div class="register_succeed_r">
					<div class="register_succeed">
						<div class="congratulation">恭喜您注册成功！</div>
						<a href="/user/login.html" class="login_html">立即登录&gt;&gt;</a>
					</div>
					<div class="leap"></div>
				</div>
			</div>
			<script text="text/javascript">
				$(function(){
					$('.step_mark li').html('');
					$('.step_mark6').html('6');

					$('.step_mark1').addClass('selected');
					$('.step_mark2').addClass('selected');
					$('.step_mark2').addClass('selected');
					$('.step_mark3').addClass('selected');
					$('.step_mark4').addClass('selected');
					$('.step_mark5').addClass('selected');
					$('.step_mark6').addClass('select');

					$('.step_step1').addClass('selected1');
					$('.step_step2').addClass('selected1');
					$('.step_step3').addClass('selected1');
					$('.step_step4').addClass('selected1');
					$('.step_step5').addClass('selected1');
					$('.step_step6').addClass('selected2');
					var second=10;
					$('.leap').html('（'+second+'秒钟后将自动跳转至登录页面）');

					/*	var sec=setInterval(function(){
						if(second>1){
							second--;
							$('.leap').html('（'+second+'秒钟后将自动跳转至登录页面）');
						}else{
							clearInterval(sec);
							window.location.href="/user/login.html";
						};

					},1000);*/
				});
			</script>
		</div>
	</body>
</html>

