<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	  layout:decorator="../../public/register">
	<head>
		<style type="text/css">
			.Validform_checktip{margin-left:-35px;height:40px;line-height: 40px;position: absolute}
			input.Validform_error{border:0;}
			.verifyCode .Validform_checktip{margin-left:-35px;height:40px;line-height: 40px;position: absolute;left:250px;}
		</style>
	</head>
	<body>
		<div class="container-fluid" layout:fragment="content">
			<div class="center">
				<aside class="aside1" th:if="${type eq 'student'}" style="display: block;">我是学生</aside>
				<aside class="aside2" th:if="${type eq 'teacher'}" style="display: block;">我是老师</aside>

				<section class="section">
					<form class="regForm" action="/user/login.html" method="post">
						<a href="/user/login.html" class="titleHead">已有账号，直接登录</a>
						<input type="hidden" th:value="${type}" name="type"/>
						<div class="input_box">
							<!--<div class="input_box_l">请输入您的邮箱或手机号</div>-->
							<input type="text" name="email" placeholder="请输入您的邮箱或手机号" class="inputxt iponeNum"/>
							<div class="mistake"></div>
							<div class="correct"></div>
						</div>
						<div class="input_box">
							<!--<label><div class="input_box_l">请输入您的用户名</div></label>-->
							<input type="text" name="username" placeholder="起个霸气的用户名,支持输入2到10位中文字符" class="inputxt username" />
							<div class="mistake"></div>
							<div class="correct"></div>
						</div>

						<!--姓名、性别-->
						<!--<div class="input_box">
							<div class="input_box_l">姓名</div>
							<input type="text" name="realName" placeholder="姓名" class="inputxt"/>
							<div class="mistake"></div>
							<div class="correct"></div>
						</div>-->
						<!--<div class="input_box">
							<div class="input_box_l">性别</div>
							<ul class="sex">
								<li class="selected">男
									<input type="radio" name="gender" value="1" placeholder="男" checked="checked"/>
								</li>
								<li>女
									<input type="radio" name="gender" value="0" placeholder="女"/>
								</li>
							</ul>
							<div class="mistake"></div>
							<div class="correct"></div>
						</div>-->
						<div class="input_box">
							<!--<div class="input_box_l" >密码</div>-->
							<input type="password" placeholder="填写密码,支持6~10个英文和数字,区分大小写" name="password" class="inputxt password"/>
							<div class="mistake"></div>
							<div class="correct"></div>
						</div>
						<div class="input_box">
							<!--<div class="input_box_l">确认密码</div>-->
							<input type="password" placeholder="确认密码"  name="password2" class="inputxt password2"/>
							<div class="mistake"></div>
							<div class="correct"></div>
						</div>
						<div class="input_box verifyCode">
							<!--<div class="input_box_l" style="background: none;">验证码</div>-->
							<input type="text" name="code" placeholder="请填写验证码" style="width:250px;text-indent:0;text-align: center" class="inputxt vcodeValid"/>
							<img id="vimg" src="/code.html"/>
						</div>
						<div class="input_box iponeCode">
							<!--<div class="input_box_l" style="background: none;">验证码</div>-->
							<input type="text"  placeholder="请填写手机验证码"  class="inputxt verify_code"/>
							<input type="button" class="note" value="获取验证码"/>
						</div>

						<!--<div class="context">
							<a href="/page/register/1.html" class="prev">上一步</a>
							<input type="submit" class="next" value="下一步"/>
						</div>-->
						<input type="submit" class="submit disabled" th:value="同意服务协助并注册" disabled="true"/>
						<div class="titleFoot">华师教育云平台<a href="#javascript:">《服务协议》</a></div>
					</form>
				</section>
			</div>

			<script type="text/javascript" th:src="@{/static/scripts/register/register2.js}" src="/static/scripts/register/register2.js"></script>
		</div>
	</body>
</html>

