<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv = "X-UA-Compatible" content = "IE=chrome" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link th:href="@{/static/css/sass/register.css}" href="../../../static/css/sass/register.css" rel="stylesheet" type="text/css"/>
	<link th:href="@{/static/css/sass/bootstrap.css}" href="../../../static/css/sass/bootstrap.css" rel="stylesheet" type="text/css"/>
	<script text="text/javascript" th:src="@{/static/scripts/jquery/jquery-1.11.3.min.js}" src="../../../static/scripts/jquery/jquery-1.11.3.min.js"></script>
	<script text="text/javascript" th:src="@{/static/scripts/ie/html5shiv.js}" src="../../../static/scripts/ie/html5shiv.js"></script>
	<script text="text/javascript" th:src="@{/static/scripts/ie/placeholder.js}"  src="../../../static/scripts/ie/placeholder.js"></script>
	<script text="text/javascript" th:src="@{/static/scripts/bootstrap/bootstrap.min.js}" src="../../../static/scripts/bootstrap/bootstrap.min.js"></script>
	<script text="text/javascript" th:src="@{/static/scripts/register.js}" src="../../../static/scripts/register.js"></script>
	<style>
		.progress_2{
			width:660px;
		}
	</style>
</head>
<body>
	<header class="header">
		<div class="center">
			<div class="h_title">完成注册只需6个简单的步骤</div>
			<div class="step">
				<div class="progress_1"></div>
				<div class="progress_2"></div>
				<ul class="step_mark">
					<li class="selected"></li>
					<li class="selected"></li>
					<li class="selected"></li>
					<li class="select">4</li>
					<li>5</li>
					<li class="last">6</li>
				</ul>
				<ul class="step_step">
					<li class="selected">选择角色</li>
					<li class="selected">基本信息</li>
					<li class="selected">邮箱验证</li>
					<li class="selected">手机验证</li>
					<li class="particularly">邀请码验证</li>
					<li class="last">注册成功</li>
				</ul>
			</div>
		</div>
	</header>
	<div class="container-fluid">
		<div class="center">
			<form class="regForm" action="" method="post">
				<div class="ipone">
					<input type="hidden" th:value="${email}" name="email"/>
					<div class="ipone_box">
						<div class="ipone_box_l">手机号</div>
						<input type="text" class="ipone_num"/>
						<div class="note">短信获取</div>
					</div>
					<div class="ipone_box">
						<div class="ipone_box_l">验证码</div>
						<input type="text" class="verify_code"/>
						<time class="count"></time>
					</div>

					<div class="ipone_box_next">
						<div class="ipone_next">下一步</div>
						<div class="skip">跳过</div>
					</div>

				</div>
			</form>
		</div>
	</div>
	<footer class="footer">
		<div class="foot"><pre>版权所有 © 2002-2014 上海市普陀区教育局 上海市普陀区现代教育技术中心</pre></div>
		<div class="foot"><pre>地址：上海市普陀区大渡河路1688号 邮编：200333 电话：021-62601856</pre></div>
	</footer>
	<script text="text/javascript">
		$(function(){
			var time=5;
			var timer=null;
			$('.count').html(time+'秒后可重新获取');

			function Movetime(){
				clearInterval(timer);
				timer=setInterval(function(){
					if(time>1){
						time--;
						$('.count').html(time+'秒后可重新获取');
					}else{
						clearInterval(timer);
						$('.count').hide();
						$('.note').removeClass('click');
						time=5;
						$('.count').html(time+'秒后可重新获取');
					};

				},1000);
			}

			//短信获取click函数
			$(document).on('click','.note',function(){
				$(this).addClass('click');
				$('.count').show();
				Movetime();
			});


			//下一步click函数
			$('.ipone_next').click(function(){
				var demo=$(".regForm").Validform({
					tiptype:3,
					showAllError:true,
					datatype:{
						"s11":/^[\s]{11}$/
					},
					showAllError:true,
				});

				$.ajax({
					url : '/user/checkInviteCode.json',
					type : 'post',
					data : JSON.stringify({'inviteCode' : $('.inviteCode').val()}),
					contentType: 'application/json',
					dataType : 'json',
					success : function(data){
						if(data.success){
							//成功跳转
							window.location.href = '/page/register/3.html?email=' + email;
						} else {
							//否则提示错误
							alert('请输入11位手机号');
						}
					}
				});
				demo.tipmsg.w["s11"]="请输入11位手机号";

				demo.addRule([{
					ele:".inputxt:eq(1)",
					datatype:"s11"
				}]);
			});
		});
	</script>
</body>
</html>

