<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	  layout:decorator="../../public/register">
	<head></head>
	<body>
		<div class="container-fluid" layout:fragment="content">
			<div class="center">
				<figure class="figure">
					<a class="student" href="/page/register/2.html?type=student">我是学生</a>
					<a class="teacher" href="/page/register/2.html?type=teacher">我是老师</a>
				</figure>
			</div>
			<script type="text/javascript">
				$(function(){
					$('.step_mark1').html('');
					$('.step_mark1').addClass('selected');
					$('.step_step1').addClass('selected1');
				});
			</script>
		</div>
	</body>
</html>

