*{
    padding:0;
    margin:0;
}

ul,ol{
    list-style: none;
    overflow: hidden;
}

table{
    border-collapse:collapse;

}

input,textarea{
    outline: 0;
    display: block;
}

div{
    overflow: hidden;
}

a{
    text-decoration: none;
}

.header{
    background-color: #323232;
    width:100%;

}

header .center{
    width:980px;
    margin:0 auto 0;
}

.reset_title{
    height:100px;
    line-height:100px;
    color:#828282;
    font-size: 34px;
    font-family: \5FAE\8F6F\96C5\9ED1;
    text-align: left;
}

.procedure{
    position: relative;
    height:110px;
}

.progress1{
    position: absolute;
    height:16px;
    background-color: #828282;
    z-index:1;
    width:940px;
    top:16px;
    left:20px;
}


.progress2{
    position: absolute;
    z-index:2;
    height:16px;
    background-color: #ffad00;
    top:16px;
    left:20px;
}

.circle{
    width:1360px;
    height:48px;
    position: absolute;
    top:0px;
    left:18px;
    z-index:3;
}

.circle li{
    width:48px;
    height:48px;
    line-height: 48px;
    float:left;
    background: url(../images/password/circle1.png);
    margin-right:400px;
    text-align: center;
    color:#323232;
    font-size: 24px;
    font-family: \5FAE\8F6F\96C5\9ED1;
}

.circle li.selected{
    color:#fff;
}

.procedure_text{
    width:1360px;
    height:62px;
    margin-top:48px;
}

.procedure_text li{
    line-height:62px;
    font-family: \5FAE\8F6F\96C5\9ED1;
    color:#828282;
    font-size: 18px;
    float:left;
    margin-right:380px;
}

.procedure_text li.selected{
    color:#ffad00;
}

.container{
    width:100%;
    background: #f4f4f4;
}

.container .center{
    width:980px;
    margin:170px auto 0;
}

.pace{
    width:100%;
    height:50px;
    margin-top:25px;
}

.pace_name{
    width:245px;
    float:left;
    height:50px;
    line-height: 50px;
    font-family: \5FAE\8F6F\96C5\9ED1;
    margin-right:30px;
    text-align: right;
    font-size: 20px;
    color:#323232;
}

.pace input.text{
    width:428px;
    height:48px;
    line-height: 48px;
    float:left;
    border: 1px solid #323232;
    border-radius:5px;
    background: none;
    text-indent:20px;
    color:#323232;
    font-family: \5FAE\8F6F\96C5\9ED1;
    font-size: 20px;
}

.pace input.text:focus{
    border: 1px solid #ffad00;
    background: none;
}

.verification_code{
    width:158px;
    height:48px;
    line-height: 48px;
    float:left;
    margin-right:30px;
    border: 1px solid #323232;
    border-radius:5px;
    background: none;
    text-indent:10px;
    color:#323232;
    font-family: \5FAE\8F6F\96C5\9ED1;
    font-size: 20px;
}

.verification_code:focus{
    border: 1px solid #ffad00;
    background: none;
}

.invitation_img{
    width:150px;
    height:50px;
    line-height:50px;
    float:left;
    margin-right:30px;
}

.cut{
    height:50px;
    line-height:50px;
    float:left;
    color:#323232;
    font-family: \5FAE\8F6F\96C5\9ED1;
    font-size: 20px;
   border:none;
    background: none;
}

.operate{
    width:430px;
    margin:40px auto 0;
}

.operate input{
    width:158px;
    float:left;
    height:48px;
    line-height: 48px;
    color:#828282;
    font-family: \5FAE\8F6F\96C5\9ED1;
    font-size: 20px;
    border:1px solid #323232;
    text-align: center;
    border-radius: 5px;
}

input.send{
    width:208px;
    float:right;
    height:48px;
    line-height: 48px;
    color:#00b6e3;
    font-family: \5FAE\8F6F\96C5\9ED1;
    font-size: 20px;
    border:1px solid #00b6e3;
    text-align: center;
    border-radius: 5px;
    background: none;
}

.submit{
    width:430px;
    height:50px;
    line-height: 50px;

    border: none;
    background-color: #ffad00;
    border:none;
    border-radius:5px;
    font-family: \5FAE\8F6F\96C5\9ED1;
    font-size:20px;
    color:#fff;
    margin:60px auto 0;
}

.transmitted{
    width:100%;
    height:50px;
    line-height: 50px;
    font-family: \5FAE\8F6F\96C5\9ED1;
    font-size:28px;
    color:#364049;
    text-align: center;
}

.password{
    width:428px;
    height:48px;
    line-height: 48px;
    float:left;
    font-family: \5FAE\8F6F\96C5\9ED1;
    font-size:20px;
    color:#323232;
    text-indent:20px;
    border-radius: 5px;
    border:1px solid #323232;
    background: none;
}


.password2{
    width:428px;
    height:48px;
    line-height: 48px;
    float:left;
    font-family: \5FAE\8F6F\96C5\9ED1;
    font-size:20px;
    color:#323232;
    text-indent:20px;
    border-radius: 5px;
    border:1px solid #323232;
    background: none;

}

.password:focus{
    border:1px solid #ffad00;
}

.password2:focus{
    border:1px solid #ffad00;
}

.footer{
    background-color: #323232;
}

.footer .center{
    width:1000px;

    margin:0 auto;
    padding:30px 0;
    position: relative;
}

.foot-size{
    height:28px;
    line-height: 28px;
    font-family: \5FAE\8F6F\96C5\9ED1;
    white-space: pre;
    color:#959595;
    font-size: 14px;
    text-align: center;
}

.footer .center span{
    height:30px;
    line-height: 30px;
    font-family: \5FAE\8F6F\96C5\9ED1;
    white-space: pre;
    text-align: center;
    color:#959595;
    display:block;
    font-size: 14px;
}

.footer .center img{
    width:94px;
    height:94px;
    display:block;
}

.android{
    width:94px;
    position: absolute;
    right:0;
    top:20px;
}

.ios{
    width:94px;
    position: absolute;
    right:140px;
    top:20px;
}