<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsjc.ssoCenter.core.mapper.UserMainMapper">
  <resultMap id="BaseResultMap" type="com.hsjc.ssoCenter.core.domain.UserMain">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userName" jdbcType="VARCHAR" property="userName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="type" jdbcType="CHAR" property="type" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="inviteCode" jdbcType="VARCHAR" property="inviteCode" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="organizationCode" jdbcType="VARCHAR" property="organizationCode"/>
    <result column="gender" jdbcType="VARCHAR" property="gender"/>
    <result column="realName" jdbcType="VARCHAR" property="realName"/>
    <result column="userIcon" jdbcType="VARCHAR" property="userIcon"/>
  </resultMap>

  <sql id="Base_Column_List">
    id, userName, password, salt, phone, type, status, inviteCode, email,organizationCode,studentNum,teacherNum,starBeldId,userId,gender,realName,userIcon
  </sql>

  <!--
    @author : zga
    @date : 2015-12-04
    新增用户
  -->
  <insert id="insert" parameterType="UserMain" useGeneratedKeys="true" keyProperty="id">
    insert into tbusermain (
    userName,
    password,
    salt,
    phone,
    type,
    status,
    inviteCode,
    email,
    organizationCode)
    values (
    #{userName},
    #{password},
    #{salt},
    #{phone},
    #{type},
    #{status},
    #{inviteCode},
    #{email},
    #{organizationCode}
    )
  </insert>

  <!--
    @author : zga
    @date : 2015-12-04
    新增用户
  -->
  <insert id="insertSelective" parameterType="UserMain">
    insert into tbusermain
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userName != null">
        userName,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="salt != null">
        salt,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="inviteCode != null">
        inviteCode,
      </if>
      <if test="email != null">
        email,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="userName != null">
        #{userName},
      </if>
      <if test="password != null">
        #{password},
      </if>
      <if test="salt != null">
        #{salt},
      </if>
      <if test="phone != null">
        #{phone},
      </if>
      <if test="type != null">
        #{type},
      </if>
      <if test="status != null">
        #{status},
      </if>
      <if test="inviteCode != null">
        #{inviteCode},
      </if>
      <if test="email != null">
        #{email},
      </if>
    </trim>
  </insert>

  <!--
    @author : zga
    @date : 2015-12-04
    根据id删除用户
  -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tbusermain
    where id = #{id}
  </delete>

  <!--
    @author : zga
    @date : 2015-12-04
    根据id更新用户信息
  -->
  <update id="updateByPrimaryKeySelective" parameterType="com.hsjc.ssoCenter.core.domain.UserMain">
    update tbusermain
    <set>
      <if test="userName != null">
        userName = #{userName},
      </if>
      <if test="password != null">
        password = #{password},
      </if>
      <if test="salt != null">
        salt = #{salt},
      </if>
      <if test="phone != null">
        phone = #{phone},
      </if>
      <if test="type != null">
        type = #{type},
      </if>
      <if test="status != null">
        status = #{status},
      </if>
      <if test="inviteCode != null">
        inviteCode = #{inviteCode},
      </if>
      <if test="email != null">
        email = #{email},
      </if>
    </set>
    where id = #{id}
  </update>

  <!--
    @author : zga
    @date : 2015-12-04
    根据id更新用户信息
  -->
  <update id="updateByPrimaryKey" parameterType="com.hsjc.ssoCenter.core.domain.UserMain">
    update tbusermain
    set userName = #{userName},
      password = #{password},
      salt = #{salt},
      phone = #{phone},
      type = #{type},
      status = #{status},
      inviteCode = #{inviteCode},
      email = #{email}
    where id = #{id}
  </update>

  <!--
    @author : zga
    @date : 2015-12-16
    更新密码用Email
  -->
  <update id="updatePasswordByEmail">
    UPDATE tbusermain
    <set>
      <if test="password != null">
        password = #{password},
      </if>
      <if test="salt != null">
        salt = #{salt}
      </if>
    </set>
    where email = #{email}
  </update>

  <!--
    @author : zga
    @date : 2016-01-12
    更新用户Email
  -->
  <update id="updateEmailWithId">
    UPDATE tbusermain
    <set>
      <if test="email != null">
        email = #{email}
      </if>
    </set>
    where id = #{id}
  </update>

  <!--
    @author : zga
    @date : 2016-01-12
    更新用户密码
  -->
  <update id="updatePasswordWithId">
    UPDATE tbusermain
    <set>
      <if test="password != null">
        password = #{password},
      </if>
      <if test="salt != null">
        salt = #{salt}
      </if>
    </set>
    where id = #{id}
  </update>

  <!--
    @author : zga
    @date : 2016-01-12
    更新邀请码和组织机构码
  -->
  <update id="updateInviteCodeAndOrgCode">
    update tbusermain
    <set>
      <if test="inviteCode != null">
        inviteCode = #{inviteCode},
      </if>
      <if test="organizationCode != null">
        organizationCode = #{organizationCode}
      </if>
    </set>
    WHERE userName = #{userName}
  </update>

  <!--
    @author : zga
    @date : 2016-01-12
    绑定手机
  -->
  <update id="updatePhoneWithUserName">
    UPDATE tbusermain
    <set>
      <if test="phone != null">
        phone = #{phone}
      </if>
    </set>
    WHERE userName = #{userName}
  </update>

  <!--
    @author : zga
    @date : 2016-01-12
    修改个人信息
  -->
  <update id="updatePersonalInfoWithUserName">
    UPDATE tbusermain
    <set>
      <if test="realName != null">
        realName = #{realName},
      </if>
      <if test="gender != null">
        gender = #{gender},
      </if>
      <if test="userIcon != null">
        userIcon = #{userIcon}
      </if>
    </set>
    WHERE userName = #{userName}
  </update>
  <!--
    @author : zga
    @date : 2015-12-04
    根据id查询用户信息
  -->
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tbusermain
    where id = #{id}
  </select>

  <!--
    @author : zga
    @date : 2015-12-04
    根据email、userName、phone查询用户信息(登录的时候不知道用户输入的是email、phone、username那一个)
  -->
  <select id="findByEmailOrPhoneOrUserName" parameterType="UserMain" resultType="UserMain">
    select
    <include refid="Base_Column_List" />
    from tbusermain
    <where>
      <if test="email != null">
        email = #{email},
      </if>

      <if test="phone != null">
        and phone = #{phone},
      </if>

      <if test="userName != null">
        and userName = #{userName}
      </if>
    </where>
  </select>

  <!--
    @author : zga
    @date : 2015-12-10
    校验clientId
  -->
  <select id="selectCountByClientId" parameterType="UserMain" resultType="java.lang.Integer">
    SELECT COUNT(1) FROM tb3rdclients where clientId = #{clientId}
  </select>

  <!--
    @author : zga
    @date : 2015-12-16
    忘记密码时,查询Email、phone是否是绑定的用户
  -->
  <select id="selectUserByEmailOrPhone" resultType="UserMain">
    SELECT
    <include refid="Base_Column_List"/>
    FROM tbusermain
    <where>
      <if test="email != null">
        email = #{email},
      </if>

      <if test="phone != null">
        and phone = #{phone}
      </if>
    </where>
  </select>

</mapper>