<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="../../public/backstage">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link th:href="@{/static/css/sso_backstage.css}" href="../../../static/css/sso_backstage.css" rel="stylesheet" type="text/css"/>
        <link th:href="@{/static/css/bootstrap.css}" href="../../../static/css/bootstrap.css" rel="stylesheet" type="text/css"/>
        <script text="text/javascript" th:src="@{/static/scripts/jquery/jquery-1.11.3.min.js}" src="../../../static/scripts/jquery/jquery-1.11.3.min.js"></script>
        <script text="text/javascript" th:src="@{/static/scripts/ie/html5shiv.js}" src="../../../static/scripts/ie/html5shiv.js"></script>
        <script text="text/javascript" th:src="@{/static/scripts/ie/placeholder.js}"  src="../../../static/scripts/ie/placeholder.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="center">
                <aside class="aside">
                    <dl class="menu_title">
                        <dt class="d1">用户管理</dt>
                        <dd><a href="user_list.html">用户列表</a></dd>
                        <dd><a href="new_user.html" >新增用户</a></dd>
                    </dl>
                    <dl class="menu_title">
                        <dt class="d2">第三方平台管理</dt>
                        <dd><a href="platform_list.html">平台列表</a></dd>
                        <dd>组织机构权限管理</dd>
                        <dd>组织机构密码管理</dd>
                    </dl>
                    <dl class="menu_title">
                        <dt class="d3">客服管理</dt>
                        <dd><a href="service_list.html">客服员列表</a></dd>
                        <dd><a href="new_service.html">新增客服</a></dd>
                        <dd><a href="one_manage.html">一次客服管理</a></dd>
                        <dd><a href="two_manage.html">二次客服管理</a></dd>
                    </dl>
                    <dl class="menu_title">
                        <dt class="d4">织机构管理</dt>
                        <dd><a href="tissue_list.html">组织机构列表</a></dd>
                        <dd><a href="new_tissue.html">新增组织机构</a></dd>
                        <dd><a href="invitation_manage.html">邀请码管理</a></dd>
                        <dd><a href="new_invitation.html">新增邀请码</a></dd>
                    </dl>
                    <dl class="menu_title">
                        <dt class="d5">管理员管理</dt>
                        <dd><a href="admin_list.html" class="selected">管理员列表</a></dd>
                        <dd><a href="new_admin.html">新增管理员</a></dd>
                    </dl>
                    <dl class="menu_title">
                        <dt class="d6">站点管理</dt>
                        <dd><a href="site_basic.html">站点基本设置</a></dd>
                        <dd><a href="email_port.html">邮件接口设置</a></dd>
                        <dd><a href="mess_port.html">短信接口设置</a></dd>
                        <dd><a href="site_log.html">站点日志</a></dd>
                    </dl>
                </aside>
                <section class="section">
                    <div class="index_title">管理员列表</div>
                    <div class="tab_search">
                        <ul class="tab_fn">
                            <li>查询</li>
                            <li>返回</li>
                        </ul>
                        <input type="search"/>
                    </div>
                    <table class="admin_tab">
                        <thead>
                            <tr>
                                <th>管理员</th>
                                <th>所属组织机构</th>
                                <th>拥有权限</th>
                                <th>添加时间</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="checkbox"/>
                                    Admin
                                </td>
                                <td>总站</td>
                                <td>最高权限</td>
                                <td>2015-12-22 11:01:54</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox"/>
                                    Admin
                                </td>
                                <td>总站</td>
                                <td>最高权限</td>
                                <td>2015-12-22 11:01:54</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox"/>
                                    Admin
                                </td>
                                <td>总站</td>
                                <td>用户管理</td>
                                <td>2015-12-22 11:01:54</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox"/>
                                    Admin
                                </td>
                                <td>华侨中学</td>
                                <td>用户管理</td>
                                <td>2015-12-22 11:01:54</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>

                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>

                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>

                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="tab_foot">
                        <div class="all_select"><input type="checkbox" class="checkAll">全选</div>
                        <ul class="handle">
                            <li>调整权限</li>
                            <li>重置密码</li>
                            <li>删除</li>
                        </ul>
                        <div class="pages">
                            <div class="jil">共58999条记录</div>
                            <a href="#" class="page">首页</a>
                            <a href="#" class="page">上一页</a>
                            <a href="#" class="page">下一页</a>
                            <a href="#" class="page">尾页</a>
                            <select>
                                <option>1/20</option>
                                <option>2/20</option>
                                <option>3/20</option>
                                <option>4/20</option>
                                <option>5/20</option>
                            </select>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <footer class="footer">

        </footer>
        <script type="text/javascript">
            $(function(){
                $('.checkAll').click(function(){
                    if(this.checked){
                        $(":checkbox").prop("checked",true);
                    }else{
                        $(":checkbox").prop("checked",false);
                    }


                });
            });
        </script>
    </body>
</html>