<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="../../public/backstage">
    <head>

    </head>
    <body>



                <div id="content" layout:fragment="content">
                    <div class="index_title">邮件接口设置</div>
                    <div class="tab_search">
                        <ul class="email_sel">
                            <li class="selected">邮件接口</li>
                            <li>邮件测试</li>
                        </ul>
                    </div>
                    <div class="email_box" style="display:block;">
                        <div class="email_input" style="margin-top:20px;">
                            <div class="email_input_l">邮件服务器地址：</div>
                            <input type="text"/>
                        </div>
                        <div class="email_input">
                            <div class="email_input_l">邮箱帐号：</div>
                            <input type="text"/>
                        </div>
                        <div class="email_input">
                            <div class="email_input_l">邮箱密码：</div>
                            <input type="text"/>
                        </div>
                        <ul class="build_submit" style="margin-left:145px;">
                            <li class="selected">保存</li>
                            <li>取消</li>
                        </ul>
                    </div>
                    <div class="email_box">
                        <div class="email_input" style="margin-top:20px;">
                            <div class="email_input_l">发送给：</div>
                            <input type="text"/>
                            <div class="email_input_r">仅支持单个邮箱</div>
                        </div>
                        <div class="email_input">
                            <div class="email_input_l">编辑内容：</div>
                            <textarea></textarea>
                        </div>
                        <ul class="build_submit" style="margin-left:145px;">
                            <li class="selected">发送</li>
                            <li>取消</li>
                        </ul>
                    </div>
                    <script type="text/javascript">
                        $(function(){
                            $('#email_port').addClass('selected');

                            var _index=0;
                            $('.email_sel li').click(function(){
                                _index=$(this).index();
                                $(this).addClass('selected').siblings('.email_sel li').removeClass('selected');
                                $('.email_box').eq(_index).show().siblings('.email_box').hide();
                            });
                        });
                    </script>

        </div>

    </body>
</html>