<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="../../public/backstage">
    <head>
    </head>
    <body>



                <div id="content" layout:fragment="content">
                    <div class="index_title">邀请码管理</div>
                    <div class="tab_search">
                        <select>
                            <option>请选择区域</option>
                            <option>北京</option>
                            <option>上海</option>
                            <option>浙江</option>
                            <option>江苏</option>
                        </select>
                        <select>
                            <option>请选择区域</option>
                            <option>上海市</option>
                        </select>
                        <select>
                            <option>请选择区域</option>
                            <option>普陀区</option>
                            <option>静安区</option>
                            <option>徐汇区</option>
                            <option>闸北区</option>
                        </select>
                        <div class="tab_fn">
                            <input type="button" value="查询" class="tab_fnLi"/>
                            <input type="reset" value="重置" class="tab_fnLi"/>
                        </div>
                        <input type="search" placeholder="输入组织机构名称或者邀请码…"/>
                    </div>
                    <table class="invitation_manage_tab">
                        <thead>
                            <tr>
                                <th>学校</th>
                                <th>邀请码</th>
                                <th>使用者</th>
                                <th>状态</th>
                                <th>添加时间</th>
                                <th>使用时间</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="schoolInvite : ${schoolInviteList}">
                                <td th:text="${schoolInvite.organizationName}"></td>
                                <td th:text="${schoolInvite.inviteCode}"></td>
                                <td th:if="${schoolInvite.realName != 'xxx'}" th:text="${schoolInvite.realName}"></td>
                                <td th:if="${schoolInvite.realName == 'xxx'}"></td>
                                <td th:if="${schoolInvite.state == 'used'}">已使用</td>
                                <td th:if="${schoolInvite.state == 'unused'}">未使用</td>
                                <td th:text="${schoolInvite.createTime}"></td>
                                <td th:if="${schoolInvite.useTime != 'xxx'}" th:text="${schoolInvite.useTime}"></td>
                                <td th:if="${schoolInvite.useTime == 'xxx'}"></td>
                            </tr>
                        </tbody>
                    </table>
                    <!--<div class="tab_foot">
                        <div class="all_select"><input type="checkbox" />全选</div>
                        <ul class="handle">
                            <li>查看详情</li>
                            <li>删除</li>
                        </ul>
                        <div class="pages">
                            <div class="jil">共58999条记录</div>
                            <a href="#" class="page">首页</a>
                            <a href="#" class="page">上一页</a>
                            <a href="#" class="page">下一页</a>
                            <a href="#" class="page">尾页</a>
                            <select>
                                <option>1/20</option>
                                <option>2/20</option>
                                <option>3/20</option>
                                <option>4/20</option>
                                <option>5/20</option>
                            </select>
                        </div>
                    </div>-->
                    <script type="text/javascript">
                        $('#invitation_manage').addClass('selected');
                    </script>
                </div>



    </body>
</html>