<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="../../public/backstage">
    <head></head>
    <body>



                <div id="content" layout:fragment="content">
                    <div class="index_title">新增邀请码</div>
                    <div class="invitation_box">
                        <div class="users_message" style="margin-top:20px;">
                            <div class="users_message_l">*</div>
                            <div class="users_message_name">所属组织机构：</div>
                            <input type="text" />
                        </div>
                        <div class="users_message">
                            <div class="users_message_l">*</div>
                            <div class="users_message_name">添加数量：</div>
                            <input type="number" />
                        </div>
                        <ul class="build_submit">
                            <li class="selected">
                                <a href="invitation_manage.html" class="selected">保存</a>
                            </li>
                            <li>
                                <a href="invitation_manage.html">取消</a>
                            </li>
                        </ul>
                    </div>
                    <script type="text/javascript">
                        $('#new_invitation').addClass('selected');
                    </script>
                </div>


    </body>
</html>