<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="../css/sso_backstage.css" rel="stylesheet" type="text/css">
        <link href="../css/bootstrap.css" rel="stylesheet" type="text/css">
        <script text="text/javascript" src="../js/jquery-1.11.3.min.js"></script>
        <script text="text/javascript" src="../js/html5shiv.js"></script>
    </head>
    <body>
        <header></header>
        <div class="container">
            <div class="center">
                <aside class="aside">
                    <dl class="menu_title">
                        <dt class="d1">用户管理</dt>
                        <dd><a href="user_list.html">用户列表</a></dd>
                        <dd><a href="new_user.html" class="selected">新增用户</a></dd>
                    </dl>
                    <dl class="menu_title">
                        <dt class="d2">第三方平台管理</dt>
                        <dd><a href="platform_list.html">平台列表</a></dd>
                        <dd>组织机构权限管理</dd>
                        <dd>组织机构密码管理</dd>
                    </dl>
                    <dl class="menu_title">
                        <dt class="d3">客服管理</dt>
                        <dd><a href="service_list.html">客服员列表</a></dd>
                        <dd><a href="new_service.html">新增客服</a></dd>
                        <dd><a href="one_manage.html">一次客服管理</a></dd>
                        <dd><a href="two_manage.html">二次客服管理</a></dd>
                    </dl>
                    <dl class="menu_title">
                        <dt class="d4">织机构管理</dt>
                        <dd><a href="tissue_list.html">组织机构列表</a></dd>
                        <dd><a href="new_tissue.html">新增组织机构</a></dd>
                        <dd><a href="invitation_manage.html">邀请码管理</a></dd>
                        <dd><a href="new_invitation.html">新增邀请码</a></dd>
                    </dl>
                    <dl class="menu_title">
                        <dt class="d5">管理员管理</dt>
                        <dd><a href="admin_list.html">管理员列表</a></dd>
                        <dd><a href="new_admin.html">新增管理员</a></dd>
                    </dl>
                    <dl class="menu_title">
                        <dt class="d6">站点管理</dt>
                        <dd><a href="site_basic.html">站点基本设置</a></dd>
                        <dd><a href="email_port.html">邮件接口设置</a></dd>
                        <dd><a href="mess_port.html">短信接口设置</a></dd>
                        <dd><a href="site_log.html">站点日志</a></dd>
                    </dl>
                </aside>
                <section class="section">
                    <div class="index_title">新增用户</div>
                    <div class="users_div">
                        <ul class="users">
                            <li>
                                <a href="new_user.html" class="selected">添加用户</a>
                            </li>
                            <li>
                                <a href="template_to.html">批量导入用户</a>
                            </li>
                        </ul>
                    </div>
                    <div class="users_box">
                        <div class="users_message" style="margin-top:25px;">
                            <div class="users_message_l">*</div>
                            <div class="users_message_name">用户角色：</div>
                            <ul class="user_status">
                                <li>
                                    <input type="radio" name="user_status"/>
                                    老师
                                </li>
                                <li>
                                    <input type="radio" name="user_status"/>
                                    学生
                                </li>
                            </ul>
                        </div>
                        <div class="users_message">
                            <div class="users_message_l">*</div>
                            <div class="users_message_name">用户名：</div>
                            <input type="text" />
                        </div>
                        <div class="users_message">
                            <div class="users_message_l"></div>
                            <div class="users_message_name">初始密码：</div>
                            <input type="password"/>
                        </div>
                        <div class="users_message">
                            <div class="users_message_l"></div>
                            <div class="users_message_name">邮箱：</div>
                            <input type="email" />
                        </div>
                        <div class="users_message">
                            <div class="users_message_l"></div>
                            <div class="users_message_name">手机：</div>
                            <input type="text" />
                        </div>
                        <div class="users_message">
                            <div class="users_message_l"></div>
                            <div class="users_message_name">激情码：</div>
                            <input type="text" />
                        </div>
                        <div class="users_message">
                            <div class="users_message_l"></div>
                            <div class="users_message_name">证件号码：</div>
                            <input type="text" />
                        </div>
                        <div class="users_message">
                            <div class="users_message_l"></div>
                            <div class="users_message_name">头像：</div>
                            <div class="users_img">
                                <img src="../images/users_img.png"/>
                            </div>
                            <div class="files">浏览
                                <input type="file" />
                            </div>
                        </div>
                        <ul class="build_submit">
                            <li class="selected">
                                保存

                            </li>
                            <li>取消</li>
                        </ul>
                    </div>

                </section>
            </div>
        </div>
        <footer class="footer">

        </footer>

    </body>
</html>