<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="../../public/backstage">
    <head>

    </head>
    <body>



                <div id="content" layout:fragment="content">
                    <div class="index_title">新增管理员</div>
                    <div class="admin_box">
                        <div class="tissue_message" style="margin-top:20px;">
                            <div class="tissue_box_l">*</div>
                            <div class="tissue_box_name">所属组织机构：</div>
                            <input type="text"/>
                        </div>
                        <div class="tissue_message">
                            <div class="tissue_box_l">*</div>
                            <div class="tissue_box_name">管理员用户名：</div>
                            <input type="text"/>
                        </div>
                        <div class="tissue_message">
                            <div class="tissue_box_l"></div>
                            <div class="tissue_box_name">登录密码：</div>
                            <input type="text"/>
                        </div>
                        <div class="tissue_message">
                            <div class="tissue_box_l"></div>
                            <div class="tissue_box_name">确认密码：</div>
                            <input type="text"/>
                        </div>
                        <div class="tissue_message">
                            <div class="tissue_box_l"></div>
                            <div class="tissue_box_name">设置管理权限：</div>
                            <ul class="tissue_select">
                                <li>
                                    <input type="checkbox"/>
                                    所有权限
                                </li>
                                <li>
                                    <input type="checkbox"/>
                                    用户管理
                                </li>
                                <li>
                                    <input type="checkbox"/>
                                    第三方平台管理
                                </li>
                                <li>
                                    <input type="checkbox"/>
                                    客服管理
                                </li>
                                <li>
                                    <input type="checkbox"/>
                                    组织机构管理
                                </li>
                                <li>
                                    <input type="checkbox"/>
                                    站点管理
                                </li>
                            </ul>
                        </div>
                        <div class="tissue_message">
                            <div class="tissue_box_l"></div>
                            <div class="tissue_box_name">头像：</div>
                            <div class="users_img">
                                <img src="../../static/images/SSO/users_img.png"/>
                            </div>
                            <div class="files">浏览
                                <input type="file" />
                            </div>
                        </div>
                        <ul class="build_submit">
                            <li class="selected">保存</li>
                            <li>取消</li>
                        </ul>
                    </div>
                    <script type="text/javascript">
                        $('#new_admin').addClass('selected');
                    </script>
                </div>


    </body>
</html>