<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="../../public/backstage">
    <head></head>
    <body>

            <div id="content" layout:fragment="content">
                    <div class="index_title">新增用户</div>
                    <div class="users_div">
                        <ul class="users">
                            <li>
                                <a href="new_user.html" class="selected">添加用户</a>
                            </li>
                            <li>
                                <a href="template_to.html">批量导入用户</a>
                            </li>
                        </ul>
                    </div>
                    <div class="users_box">
                        <div class="users_message" style="margin-top:25px;">
                            <div class="users_message_l">*</div>
                            <div class="users_message_name">用户角色：</div>
                            <ul class="user_status">
                                <li>
                                    <input type="radio" name="user_status"/>
                                    老师
                                </li>
                                <li>
                                    <input type="radio" name="user_status"/>
                                    学生
                                </li>
                            </ul>
                        </div>
                        <div class="users_message">
                            <div class="users_message_l">*</div>
                            <div class="users_message_name">用户名：</div>
                            <input type="text" />
                        </div>
                        <div class="users_message">
                            <div class="users_message_l"></div>
                            <div class="users_message_name">初始密码：</div>
                            <input type="password"/>
                        </div>
                        <div class="users_message">
                            <div class="users_message_l"></div>
                            <div class="users_message_name">邮箱：</div>
                            <input type="email" />
                        </div>
                        <div class="users_message">
                            <div class="users_message_l"></div>
                            <div class="users_message_name">手机：</div>
                            <input type="text" />
                        </div>
                        <div class="users_message">
                            <div class="users_message_l"></div>
                            <div class="users_message_name">激情码：</div>
                            <input type="text" />
                        </div>
                        <div class="users_message">
                            <div class="users_message_l"></div>
                            <div class="users_message_name">证件号码：</div>
                            <input type="text" />
                        </div>
                        <div class="users_message">
                            <div class="users_message_l"></div>
                            <div class="users_message_name">头像：</div>
                            <div class="users_img">
                                <img src="../../static/images/SSO/users_img.png"/>
                            </div>
                            <div class="files">浏览
                                <input type="file" />
                            </div>
                        </div>
                        <ul class="build_submit">
                            <li class="selected">
                                保存

                            </li>
                            <li>取消</li>
                        </ul>
                    </div>
                    <script type="text/javascript">
                        $('#new_user').addClass('selected');
                    </script>
            </div>


    </body>
</html>