<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="../../public/backstage">
    <head></head>
    <body>
        <div id="content" layout:fragment="content">
            <div class="modifiedBox">
                <div class="examine_box_aside">
                    <div class="examine_title">修改账号状态操作</div>
                </div>
                <div class="modifiedBox_center"></div>
                <div class="examine_box_aside">
                    <div class="modifieInput">
                        <input type="button" value="保存" class="butL"/>
                        <input type="button" value="取消" class="butR"/>
                    </div>
                </div>
            </div>
            <div class="index_title">平台列表</div>
            <div class="tab_search">
                <form th:action="@{/page/sso/platformList/${currentPage},10.html}" method="get">
                    <div class="tab_fn">
                        <input type="submit" value="查询" class="tab_fnLi"/>
                        <input type="reset" value="重置" class="tab_fnLi"/>
                    </div>
                    <input type="text" name="description" th:value="${description}" placeholder="输入平台名称…"/>
                </form>
            </div>
            <table class="platform_tab">
                <thead>
                    <tr>
                        <th>
                        </th>
                        <th>平台名称</th>
                        <th>联系人</th>
                        <th>联系电话</th>
                        <th>公钥</th>
                        <th>client_id</th>
                        <th>client_secret</th>
                        <th>sso_password</th>
                        <th>回调地址</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="tc : ${thirdClientsList}">
                        <td><input type="checkbox" class="clientList"/></td>
                        <td th:text="${tc.description}"></td>
                        <td th:text="${tc.contactorName}"></td>
                        <td th:text="${tc.contactorPhone}"></td>
                        <td th:text="${tc.publicKey}"></td>
                        <td th:text="${tc.clientId}"></td>
                        <td th:text="${tc.clientSecret}"></td>
                        <td th:text="${tc.ssoPassword}"></td>
                        <td th:text="${tc.callbackUrl}"></td>
                    </tr>
                </tbody>
            </table>
            <div class="tab_foot">
                <div class="all_select"><input type="checkbox" class="checkAll" />全选</div>
                <ul class="handle">
                    <li>修改基本信息</li>
                    <li>修改状态</li>
                    <li>删除</li>
                </ul>
                <div class="pages">
                    <div class="jil">共<font th:text="${count}"></font>条记录</div>
                    <a th:href="@{/page/sso/platformList/1,10.html}" class="page">首页</a>
                    <a th:if="${currentPage > 1}" th:href="@{'/page/sso/platformList/' + ${currentPage - 1} +',10.html'}" class="page">上一页</a>
                    <a th:if="${currentPage } lt ${pageCount}" th:href="@{'/page/sso/platformList/' + ${currentPage + 1} + ',10.html'}" class="page">下一页</a>
                    <a th:href="@{'/page/sso/platformList/' + ${pageCount} + ',10.html'}" class="page">尾页</a>
                    <select>
                        <option>1/20</option>
                        <option>2/20</option>
                        <option>3/20</option>
                        <option>4/20</option>
                        <option>5/20</option>
                    </select>
                </div>
            </div>
            <script type="text/javascript">
                $(function(){
                    $('#platform_list').addClass('selected');

                    /**
                     * 全选与单选事件
                     */
                    $('.checkAll').click(function(){
                        $(".clientList").prop("checked",$(this).prop("checked"));
                    });


                    $('.handle li:first').click(function(){
                        $('.section').css('background-color','#e5e5e5');
                        $('.modifiedBox').show();
                    });

                    $('.butR').click(function(){
                        $('.modifiedBox').hide();
                        $('.section').css('background-color','#ffffff');
                    });

                    $('.butL').click(function(){
                        $('.modifiedBox').hide();
                        $('.section').css('background-color','#ffffff');
                    });

                    $(".clientList").click(function(){
                        $('.checkAll').prop('checked',($(".clientList").length == $(".clientList:checked").length));
                    })
                });
            </script>
        </div>
    </body>
</html>