<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="../../public/backstage">
    <head></head>
    <body>
        <div id="content" layout:fragment="content">
            <div class="index_title">第三方导入数据权限过滤列表</div>
            <div class="tab_search">
                <form th:action="@{/page/sso/platformFilterList/${currentPage},10.html}" method="get">
                    <div class="tab_fn">
                        <input type="submit" value="查询" class="tab_fnLi"/>
                        <input type="reset" value="重置" class="tab_fnLi"/>
                    </div>
                    <input type="text" name="description" th:value="${description}" placeholder="输入平台名称…"/>
                </form>
            </div>
            <table class="platform_tab">
                <thead>
                    <tr>
                        <th>
                        </th>
                        <th>平台名称</th>
                        <th>client_id</th>
                        <th>机构代码</th>
                        <th>机构名称</th>
                        <th>同步用户类型</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="tf : ${thirdFilterList}">
                        <td><input type="checkbox"/></td>
                        <td th:text="${tf.description}"></td>
                        <td th:text="${tf.clientId}"></td>
                        <td th:text="${tf.organizationCode}"></td>
                        <td th:text="${tf.organizationName}"></td>
                        <td th:if="${tf.tstudent eq 'teacher'}">老师</td>
                        <td th:if="${tf.tstudent eq 'student'}">学生</td>
                    </tr>
                </tbody>
            </table>
            <div class="tab_foot">
                <div class="all_select"><input type="checkbox" class="checkAll" />全选</div>
                <ul class="handle">
                    <li>修改基本信息</li>
                    <li>修改状态</li>
                    <li>删除</li>
                </ul>
                <div class="pages">
                    <div class="jil">共<font th:text="${count}"></font>条记录</div>
                    <a th:href="@{/page/sso/platformFilterList/1,10.html}" class="page">首页</a>
                    <a th:if="${currentPage > 1}" th:href="@{'/page/sso/platformFilterList/' + ${currentPage - 1} +',10.html'}" class="page">上一页</a>
                    <a th:if="${currentPage } lt ${pageCount}" th:href="@{'/page/sso/platformFilterList/' + ${currentPage + 1} + ',10.html'}" class="page">下一页</a>
                    <a th:href="@{'/page/sso/platformFilterList/' + ${pageCount} + ',10.html'}" class="page">尾页</a>
                    <select>
                        <option>1/20</option>
                        <option>2/20</option>
                        <option>3/20</option>
                        <option>4/20</option>
                        <option>5/20</option>
                    </select>
                </div>
            </div>
            <script type="text/javascript">
                $(function(){
                    $('#platformfilter_list').addClass('selected');

                    $('.checkAll').click(function(){
                        if(this.checked){
                            $(":checkbox").prop("checked",true);
                        }else{
                            $(":checkbox").prop("checked",false);
                        }
                    });
                });
            </script>
        </div>
    </body>
</html>