<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="../../public/backstage">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link th:href="@{/static/css/sso_backstage.css}" href="../../../static/css/sso_backstage.css" rel="stylesheet" type="text/css"/>
        <link th:href="@{/static/css/bootstrap.css}" href="../../../static/css/bootstrap.css" rel="stylesheet" type="text/css"/>
        <script text="text/javascript" th:src="@{/static/scripts/jquery/jquery-1.11.3.min.js}" src="../../../static/scripts/jquery/jquery-1.11.3.min.js"></script>
        <script text="text/javascript" th:src="@{/static/scripts/ie/html5shiv.js}" src="../../../static/scripts/ie/html5shiv.js"></script>
        <script text="text/javascript" th:src="@{/static/scripts/ie/placeholder.js}"  src="../../../static/scripts/ie/placeholder.js"></script>
    </head>
    <body>


            <div id="content" layout:fragment="content">
                    <div class="index_title">二次客服管理</div>
                    <div class="tab_search">
                        <ul class="tab_fn">
                            <li>查询</li>
                            <li>返回</li>
                        </ul>
                        <input type="search"/>
                    </div>
                    <table class="service_tab">
                        <thead>
                            <tr>
                                <th>二次会话ID</th>
                                <th>所属客服员ID</th>
                                <th>问题内容</th>
                                <th>处理记录</th>
                                <th>问题状态</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="checkbox" />
                                    1
                                </td>
                                <td>1001</td>
                                <td>首页banner无法正常显示</td>
                                <td></td>
                                <td>进行中</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" />
                                     2
                                </td>
                                <td>1002</td>
                                <td>首页banner无法正常显示</td>
                                <td>已修复bug</td>
                                <td>结束</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" />
                                    3
                                </td>
                                <td>1003</td>
                                <td>首页banner无法正常显示</td>
                                <td>已修复bug</td>
                                <td>结束</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" />
                                    4
                                </td>
                                <td>1003</td>
                                <td>首页banner无法正常显示</td>
                                <td>已修复bug</td>
                                <td>结束</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="tab_foot">
                        <div class="all_select"><input type="checkbox" class="checkAll" />全选</div>
                        <ul class="handle">
                            <li>
                                <a href="dispose.html">编辑处理记录</a>
                            </li>
                            <li>修改问题状态</li>
                        </ul>
                        <div class="pages">
                            <div class="jil">共58999条记录</div>
                            <a href="#" class="page">首页</a>
                            <a href="#" class="page">上一页</a>
                            <a href="#" class="page">下一页</a>
                            <a href="#" class="page">尾页</a>
                            <select>
                                <option>1/20</option>
                                <option>2/20</option>
                                <option>3/20</option>
                                <option>4/20</option>
                                <option>5/20</option>
                            </select>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $(function(){
                            $('#two_manage').addClass('selected');

                            $('.checkAll').click(function(){
                                if(this.checked){
                                    $(":checkbox").prop("checked",true);
                                }else{
                                    $(":checkbox").prop("checked",false);
                                }


                            });
                        });
                    </script>
            </div>
    </body>
</html>