<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="../../public/backstage">
    <head></head>
    <body>
        <div id="content" layout:fragment="content">
            <div class="index_title">用户列表</div>
            <div class="condition">
                <select>
                    <option>按来源</option>
                    <option>J课堂</option>
                    <option>HSBB</option>
                     <option>MOOC</option>
                </select>
                <select>
                    <option>按所属机构</option>
                    <option>华师一小</option>
                    <option>华师二小</option>
                    <option>华师三小</option>
                </select>
                <select>
                    <option>按角色</option>
                    <option>老师</option>
                    <option>学生</option>
                </select>
                        <select>
                            <option>按账号状态</option>
                            <option>未激活</option>
                            <option>已激活</option>
                            <option>已冻结</option>
                        </select>
                        <select>
                            <option>按时间</option>
                            <option>近三天来</option>
                            <option>近一周来</option>
                            <option>近一月来</option>
                        </select>
                        <input type="search" placeholder="输入关键字…"/>
                        <div class="refer">查询</div>
                        <div class="refer">返回</div>
                    </div>
                    <table class="user_tab">
                        <tbody>
                            <tr>
                                <th style="width:90px;">姓名</th>
                                <th style="width:70px;">来源</th>
                                <th style="width:150px">组织机构</th>
                                <th style="width:55px;">角色</th>
                                <th style="width:150px">云账号</th>
                                <th style="width:150px">账号状态</th>
                                <th style="width:170px">注册时间</th>
                                <th style="width:190px;">绑定邮箱</th>
                                <th style="width:190px;">绑定手机</th>
                                <th style="width:190px;">绑定证件号码</th>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td><input type="checkbox"/>张超超</td>
                                <td>HSBB</td>
                                <td>华师一小</td>
                                <td>学生</td>
                                <td>0323232332</td>
                                <td>已激活</td>
                                <td>2015-12-20</td>
                                <td>123@126.com</td>
                                <td>13816974167</td>
                                <td>32698985656</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"/>张超</td>
                                <td>HSBB</td>
                                <td>华师一小</td>
                                <td>学生</td>
                                <td>0323232332</td>
                                <td>已激活</td>
                                <td>2015-12-20</td>
                                <td>123@126.com</td>
                                <td>13816974167</td>
                                <td>32698985656</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"/>张超</td>
                                <td>HSBB</td>
                                <td>华师一小</td>
                                <td>学生</td>
                                <td>0323232332</td>
                                <td>已激活</td>
                                <td>2015-12-20</td>
                                <td>123@126.com</td>
                                <td>13816974167</td>
                                <td>32698985656</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"/>张超</td>
                                <td>HSBB</td>
                                <td>华师一小</td>
                                <td>学生</td>
                                <td>0323232332</td>
                                <td>已激活</td>
                                <td>2015-12-20</td>
                                <td>123@126.com</td>
                                <td>13816974167</td>
                                <td>32698985656</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"/>张超</td>
                                <td>HSBB</td>
                                <td>华师一小</td>
                                <td>学生</td>
                                <td>0323232332</td>
                                <td>已激活</td>
                                <td>2015-12-20</td>
                                <td>123@126.com</td>
                                <td>13816974167</td>
                                <td>32698985656</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"/>张超</td>
                                <td>HSBB</td>
                                <td>华师一小</td>
                                <td>学生</td>
                                <td>0323232332</td>
                                <td>已激活</td>
                                <td>2015-12-20</td>
                                <td>123@126.com</td>
                                <td>13816974167</td>
                                <td>32698985656</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"/>张超</td>
                                <td>HSBB</td>
                                <td>华师一小</td>
                                <td>学生</td>
                                <td>0323232332</td>
                                <td>已激活</td>
                                <td>2015-12-20</td>
                                <td>123@126.com</td>
                                <td>13816974167</td>
                                <td>32698985656</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"/>张超</td>
                                <td>HSBB</td>
                                <td>华师一小</td>
                                <td>学生</td>
                                <td>0323232332</td>
                                <td>已激活</td>
                                <td>2015-12-20</td>
                                <td>123@126.com</td>
                                <td>13816974167</td>
                                <td>32698985656</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"/>张超</td>
                                <td>HSBB</td>
                                <td>华师一小</td>
                                <td>学生</td>
                                <td>0323232332</td>
                                <td>已激活</td>
                                <td>2015-12-20</td>
                                <td>123@126.com</td>
                                <td>13816974167</td>
                                <td>32698985656</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"/>张超</td>
                                <td>HSBB</td>
                                <td>华师一小</td>
                                <td>学生</td>
                                <td>0323232332</td>
                                <td>已激活</td>
                                <td>2015-12-20</td>
                                <td>123@126.com</td>
                                <td>13816974167</td>
                                <td>32698985656</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"/>张超</td>
                                <td>HSBB</td>
                                <td>华师一小</td>
                                <td>学生</td>
                                <td>0323232332</td>
                                <td>已激活</td>
                                <td>2015-12-20</td>
                                <td>123@126.com</td>
                                <td>13816974167</td>
                                <td>32698985656</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"/>张超</td>
                                <td>HSBB</td>
                                <td>华师一小</td>
                                <td>学生</td>
                                <td>0323232332</td>
                                <td>已激活</td>
                                <td>2015-12-20</td>
                                <td>123@126.com</td>
                                <td>13816974167</td>
                                <td>32698985656</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"/>张超</td>
                                <td>HSBB</td>
                                <td>华师一小</td>
                                <td>学生</td>
                                <td>0323232332</td>
                                <td>已激活</td>
                                <td>2015-12-20</td>
                                <td>123@126.com</td>
                                <td>13816974167</td>
                                <td>32698985656</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"/>张超</td>
                                <td>HSBB</td>
                                <td>华师一小</td>
                                <td>学生</td>
                                <td>0323232332</td>
                                <td>已激活</td>
                                <td>2015-12-20</td>
                                <td>123@126.com</td>
                                <td>13816974167</td>
                                <td>32698985656</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"/>张超</td>
                                <td>HSBB</td>
                                <td>华师一小</td>
                                <td>学生</td>
                                <td>0323232332</td>
                                <td>已激活</td>
                                <td>2015-12-20</td>
                                <td>123@126.com</td>
                                <td>13816974167</td>
                                <td>32698985656</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"/>张超</td>
                                <td>HSBB</td>
                                <td>华师一小</td>
                                <td>学生</td>
                                <td>0323232332</td>
                                <td>已激活</td>
                                <td>2015-12-20</td>
                                <td>123@126.com</td>
                                <td>13816974167</td>
                                <td>32698985656</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"/>张超</td>
                                <td>HSBB</td>
                                <td>华师一小</td>
                                <td>学生</td>
                                <td>0323232332</td>
                                <td>已激活</td>
                                <td>2015-12-20</td>
                                <td>123@126.com</td>
                                <td>13816974167</td>
                                <td>32698985656</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"/>张超</td>
                                <td>HSBB</td>
                                <td>华师一小</td>
                                <td>学生</td>
                                <td>0323232332</td>
                                <td>已激活</td>
                                <td>2015-12-20</td>
                                <td>123@126.com</td>
                                <td>13816974167</td>
                                <td>32698985656</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"/>张超</td>
                                <td>HSBB</td>
                                <td>华师一小</td>
                                <td>学生</td>
                                <td>0323232332</td>
                                <td>已激活</td>
                                <td>2015-12-20</td>
                                <td>123@126.com</td>
                                <td>13816974167</td>
                                <td>32698985656</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="tab_foot">
                        <div class="all_select"><input type="checkbox" class="checkAll"/>全选</div>
                        <ul class="handle">
                            <li>修改账号状态</li>
                            <li>重置密码</li>
                            <li>删除</li>
                            <li>导出结果</li>
                        </ul>
                        <div class="pages">
                            <div class="jil">共58999条记录</div>
                            <a href="#" class="page">首页</a>
                            <a href="#" class="page">上一页</a>
                            <a href="#" class="page">下一页</a>
                            <a href="#" class="page">尾页</a>
                            <select>
                                <option>1/20</option>
                                <option>2/20</option>
                                <option>3/20</option>
                                <option>4/20</option>
                                <option>5/20</option>
                            </select>
                        </div>
                    </div>
            <script type="text/javascript">
                $(function(){
                    $('#user_list').addClass('selected');

                    $('.checkAll').click(function(){
                        if(this.checked){
                            $(":checkbox").prop("checked",true);
                        }else{
                            $(":checkbox").prop("checked",false);
                        }
                    });
                });
            </script>
            </div>


    </body>
</html>